/*
Loading Grid Dots

Animated Loading Dots

white              - text color modified light to dark
black              - text color modified light to dark

markup:
<div class="p_5 bg_primary texture_medium clearboth"> 
<div class="lds-grid">
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
		<div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
	</div>
	</div>

Styleguide InteractiveExtras.Loading Grid
  
  */
$animationTime: 1.5s;
.lds-grid {
	display: grid;
	grid-template-columns: 16px 16px 16px;
	grid-template-rows: auto auto;
	grid-gap: 12px;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}
.lds-grid .dot {
	width: 16px;
	height: 16px;
	animation: lds-grid $animationTime linear infinite;
}
.lds-grid .dot:nth-child(1) {
	animation-delay: $animationTime * 0;
}
.lds-grid .dot:nth-child(2) {
	animation-delay: $animationTime * -1/5;
}
.lds-grid .dot:nth-child(4) {
	animation-delay: $animationTime * -1/5;
}
.lds-grid .dot:nth-child(3) {
	animation-delay: $animationTime * -2/5;
}
.lds-grid .dot:nth-child(5) {
	animation-delay: $animationTime * -2/5;
}
.lds-grid .dot:nth-child(7) {
	animation-delay: $animationTime * -2/5;
}
.lds-grid .dot:nth-child(6) {
	animation-delay: $animationTime * -3/5;
}
.lds-grid .dot:nth-child(8) {
	animation-delay: $animationTime * -3/5;
}
.lds-grid .dot:nth-child(9) {
	animation-delay: $animationTime * -4/5;
}
@keyframes lds-grid {
	0%,
	100% {
		opacity: 0.95;
	}
	10%,
	90% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.25;
	}
}
