/*
  Loading Grid Dots
 
  Animated Loading Dots

  white              - text color modified light to dark
  black              - text color modified light to dark

  markup:
    <div class="lds-grid">
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
        <div class="dot bg_{{modifier_class}}-6 br_solid br_2 br_{{modifier_class}} br_circle"></div>
    </div>

    sg-wrapper:
    <div class="p_5 bg_primary texture_medium"><sg-wrapper-content/></div>
 
  Styleguide 20.3
  
  */
.lds-grid {
  display: grid;
  grid-template-columns: 16px 16px 16px;
  grid-template-rows: auto auto;
  grid-gap: 12px;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.lds-grid .dot {
  width: 16px;
  height: 16px;
  animation: lds-grid 1.5s linear infinite;
}

.lds-grid .dot:nth-child(1) {
  animation-delay: 0s;
}

.lds-grid .dot:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-grid .dot:nth-child(4) {
  animation-delay: -0.3s;
}

.lds-grid .dot:nth-child(3) {
  animation-delay: -0.6s;
}

.lds-grid .dot:nth-child(5) {
  animation-delay: -0.6s;
}

.lds-grid .dot:nth-child(7) {
  animation-delay: -0.6s;
}

.lds-grid .dot:nth-child(6) {
  animation-delay: -0.9s;
}

.lds-grid .dot:nth-child(8) {
  animation-delay: -0.9s;
}

.lds-grid .dot:nth-child(9) {
  animation-delay: -1.2s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 0.95;
  }
  10%,
  90% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.25;
  }
}
