/*

Lorem Text Loader

It is often we need to have space held for a return of details or text.  

markup:
<div class="max-w_3">
   <h1 class="lorem-loader font_3 m-y_3">&nbsp;</h1>
   <p class="m-y_2 font_0 lorem-loader">&nbsp;</p>
   <p class="m-y_2 font_0 lorem-loader">&nbsp;</p>
   <p class="m-y_2 font_0 lorem-loader">&nbsp;</p>
</div>

Styleguide InteractiveExtras.Text Placeholder Loader
*/

/*

Lorem + Aspect Ratio

To create an image placeholder use the lorem-loader plus an aspect of the intended image on th parent container while waiting for the image.The placeholder will be a 100% of the container so size the container properly. 

.aspect_1x2			- lock image to a 1 to 2 ratio
.aspect_1x1			- lock image to a 1 to 1 ratio
.aspect_2x1			- lock image to a 2 to 1 ratio
.aspect_3x2			- lock image to a 3 to 2 ratio   
.aspect_4x3			- lock image to a 4 to 3 ratio 
.aspect_16x9		- lock image to a 16 to 9 ratio 
.aspect_21x9		- lock image to a 21 to 9 ratio 
.aspect_4x1			- lock image to a 4 to 1 ratio 

markup:
<div class="grid-w_2 max-w_1">
   <div class="m-y_2 lorem-loader {{modifier_class}} ">&nbsp;</div>
</div>

Styleguide InteractiveExtras.Placeholder Aspect Ratio
*/
div[class*="aspect_"],
.lorem-loader {
	width: 100%;
	overflow: hidden;
	text-indent: -9999px;
	opacity: 0.5;
	&:before {
		content: "";
		width: 1px;
		margin-left: -1px;
		float: left;
		height: 0;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.aspect_2x1 {
	padding-top: 2/1 * 100%;
}
.aspect_1x1 {
	padding-top: 1/1 * 100%;
}
.aspect_1x2 {
	padding-top: 1/2 * 100%;
}
.aspect_4x3 {
	padding-top: 3/4 * 100%;
}
.aspect_3x2 {
	padding-top: 2/3 * 100%;
}
.aspect_16x9 {
	padding-top: 9/16 * 100%;
}
.aspect_21x9 {
	padding-top: 9/21 * 100%;
}
.aspect_4x1 {
	padding-top: 1/4 * 100%;
}
.lorem-loader {
	color: #fff;
	background: linear-gradient(-45deg, get-themecolor(primary, 3), get-themecolor(secondary, 3));
	background-size: 400% 400%;
	-webkit-animation: Gradient 4s ease infinite;
	-moz-animation: Gradient 4s ease infinite;
	animation: Gradient 4s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*

Expanded Click Area

allows for a relative container to be clickable by the link. 

markup:
<div class="card shadow_2 cell small-6 large-4 max-w_3" >
  <div class=" font_slab border-top-left-square c_white font_3 p_4 texture_dust card-divider bg_primary card-header">
    This is a header
  </div>
  <img src="https://picsum.photos/400/300">
  <div class="card-section card-body">
    <h4>This is a card.</h4>
	 <p>It has an easy to override visual style, and is appropriately subdued.</p>
	 <a href="#" class="expanded-click-area button btn btn-primary">I am so clickable</a>
  </div>
</div>

Styleguide InteractiveExtras.Expanded Click Area
*/

.expanded-click-area::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: "";
	background-color: #0000;
}

.transition-all_1s {
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-property: all;
}
