/*
	Button Group

	Markup:
	<div class="button-group">
		<a class="button is-active primary"><i class="far icon-toggle_arrow-circle"></i> One</a>
		<a class="button secondary"><i class="far icon-toggle_arrow-circle"></i> Two</a>
		<a class="button secondary"><i class="far icon-toggle_arrow-circle"></i> Three</a>
	</div>

	Styleguide  Zurb Recipes.Navigation.Button Group
*/
