@mixin teal-gradient {
	background: $scrub-teal-dark;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $scrub-teal-light 0%, $scrub-teal-dark 100%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $scrub-teal-light),
		color-stop(100%, $scrub-teal-dark)
	);
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $scrub-teal-light 0%, $scrub-teal-dark 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $scrub-teal-light 0%, $scrub-teal-dark 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $scrub-teal-light 0%, $scrub-teal-dark 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $scrub-teal-light 0%, $scrub-teal-dark 100%);
	/* W3C */
}
@mixin teal-gradient-reverse {
	background: $scrub-teal-dark;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $scrub-teal-dark 0%, $scrub-teal 100%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $scrub-teal-dark),
		color-stop(100%, $scrub-teal)
	);
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $scrub-teal-dark 0%, $scrub-teal 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $scrub-teal-dark 0%, $scrub-teal 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $scrub-teal-dark 0%, $scrub-teal 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $scrub-teal-dark 0%, $scrub-teal 100%);
	/* W3C */
}
@mixin grey-gradient {
	background: $warm-grey;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $warm-grey 0%, $warm-grey-dark 100%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $warm-grey),
		color-stop(100%, $warm-grey-dark)
	);
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $warm-grey 0%, $warm-grey-dark 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $warm-grey 0%, $warm-grey-dark 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $warm-grey 0%, $warm-grey-dark 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $warm-grey 0%, $warm-grey-dark 100%);
	/* W3C */
}
@mixin grey-gradient-reverse {
	background: $warm-grey-dark;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $warm-grey-dark 0%, $warm-grey 100%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $warm-grey-dark),
		color-stop(100%, $warm-grey)
	);
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $warm-grey-dark 0%, $warm-grey 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $warm-grey-dark 0%, $warm-grey 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $warm-grey-dark 0%, $warm-grey 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $warm-grey-dark 0%, $warm-grey 100%);
	/* W3C */
}
@mixin lightblue-gradient {
	background: #a4cded;
	/* Old browsers */
	background-attachment: fixed;
	background-image: -moz-linear-gradient(top, $off-white 1%, $soft-blue 100%);
	/* FF3.6+ */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1%, $off-white),
		color-stop(100%, $soft-blue)
	);
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, $off-white 1%, $soft-blue 100%);
	/* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, $off-white 1%, $soft-blue 100%);
	/* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, $off-white 1%, $soft-blue 100%);
	/* IE10+ */
	background-image: linear-gradient(to bottom, $off-white 1%, $soft-blue 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' $off-white', endColorstr='$soft-blue', GradientType=0);
	/* IE6-9 */
}
@mixin lightgrey-gradient {
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, $soft-grey 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, $soft-grey));
	background: -webkit-linear-gradient(top, #ffffff 0%, $soft-grey 100%);
	background: -o-linear-gradient(top, #ffffff 0%, $soft-grey 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, $soft-grey 100%);
	background: linear-gradient(to bottom, #ffffff 0%, $soft-grey 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr=' $soft-grey', GradientType=0);
}
@mixin warmgrey-gradient {
	background: $warm-grey;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $warm-grey-light 0%, $warm-grey 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $warm-grey), color-stop(100%, $warm-grey));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $warm-grey-light 0%, $warm-grey 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $warm-grey-light 0%, $warm-grey 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $warm-grey-light 0%, $warm-grey 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $warm-grey-light 0%, $warm-grey 100%);
	/* W3C */
}
@mixin orange-gradient {
	background: $warm-grey;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $orange-dark 0%, mix($orange-dark, $orange-light) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, mix($orange-dark, $orange-light)),
		color-stop(100%, mix($orange-dark, $orange-light))
	);
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $orange-dark 0%, mix($orange-dark, $orange-light) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $orange-dark 0%, mix($orange-dark, $orange-light) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $orange-dark 0%, mix($orange-dark, $orange-light) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $orange-dark 0%, mix($orange-dark, $orange-light) 100%);
	/* W3C */
}
@mixin warmgrey-gradient-reverse {
	background: $warm-grey;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, $warm-grey 0%, $warm-grey-light 100%);
	/* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $warm-grey),
		color-stop(100%, $warm-grey-light)
	);
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $warm-grey 0%, $warm-grey-light 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $warm-grey 0%, $warm-grey-light 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, $warm-grey 0%, $warm-grey-light 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, $warm-grey 0%, $warm-grey-light 100%);
	/* W3C */
}

@mixin dropshadow {
	box-shadow: 0px 3px 3px #999;
	-webkit-box-shadow: 0px 3px 3px #999;
	-moz-box-shadow: 0px 3px 3px #999;
}
