/* ACC BRANDs*/
$teal: #198dae;
$green-blue: #16a385;
$dark-grey: #676a72;
$alt-grey: #a3988c;
$green: #078a2e;
$orange: #da8210;
$red: #dd1a1a;
$blue: #2b58c0;
$purple: #7742bd;
$magenta: #c34198;
$acc-blue: #00386b;
$white: rgb(246, 246, 246);
$black: rgb(19, 18, 18);

$theme-palette: map-merge(
  (
    primary: $teal,
	secondary: $dark-grey,
	success: $green,
	warning: $orange,
	alert: $red,
	navigation: $blue,
	accent: $green-blue,
	info: $alt-grey,
	highlight: $purple,
	acc: $acc-blue
  ),
  $colors
);
