/**  ACC Brands    *********************************/
$teal: #0088aa;
$green-blue: #16a385;
$grey-secondary: #8b8482;
$dark-grey: #676a72;
$alt-grey: #a3988c;
$green: #078a2e;
$orange: #da8210;
$red: #dd1a1a;
$blue: #2b58c0;
$purple: #7742bd;
$magenta: #c34198;
$acc-blue: #004176;
$white: rgb(255, 255, 255);
$black: rgb(19, 18, 18);
$real-black: #000;
/**  CV Quality Colors  **/
$orange-dark: #e87d1e;
$orange-light: #ffc425;
$warm-grey: #a1a0a4;
$warm-grey-light: #d6d4d4;
$warm-grey-dark: #817c7b;
$off-white: #fafafa;
$off-black: $black;
$soft-blue: #d2e6f6;
$soft-grey: #eceaea;
$error-color: #990000;
$scrub-teal: #0088aa;
$scrub-teal-light: #05aee5;
$scrub-teal-dark: #047294;
$mix-teal_orange: #58b5a5;
$mix-orange_teal: #acbd65;

.c_accent-alt {
	color: $orange-light !important;
}
.c_mix-teal-orange {
	color: $mix-teal_orange !important;
}
.c_mix-orange-teal {
	color: $mix-orange_teal !important;
}
.c_primary-alt {
	color: $soft-blue !important;
}
.c_accent-alt {
	color: $orange-light !important;
}
.h\:c_primary-alt:hover {
	color: $soft-blue !important;
}
.h\:c_accent-alt:hover {
	color: $orange-light !important;
}

.br_accent-alt {
	border-color: $orange-light !important;
}
.br_mix-teal-orange {
	border-color: $mix-teal_orange !important;
}
.br_mix-orange-teal {
	border-color: $mix-orange_teal !important;
}
.br__primary-alt {
	background-color: $mix-orange_teal !important;
}
.bg_primary-alt {
	background-color: $soft-blue !important;
}
.bg_accent-alt {
	background-color: $orange-light !important;
}
.bg_mix-teal-orange {
	background-color: $mix-teal_orange !important;
}
.bg_mix-orange-teal {
	background-color: $mix-orange_teal !important;
}
/*
	Background Colors Alt

	These Alternate colors are single use to embelish a design. These colors <strong>DO NOT</strong> have extra modifiers.    

	.bg_accent-alt            	- light orange
	.bg_mix-teal-orange			-	Mix of 60% Teal And 40% Orange 
	.bg_mix-orange-teal				-	Mix of 60% Orange and 40% Teal 	


	Markup:
	<div class="{{modifier_class}} p_3 c_white">Background Color of {{modifier_class}}</div>

	Styleguide Background.Color.Alt

*/
/*
	Border Colors Alt

	These Alternate colors are single use to embelish a design. These colors <strong>DO NOT</strong> have extra modifiers.    

	.br_accent-alt            	- light orange
	.br_mix-teal-orange			-	Mix of 60% Teal And 40% Orange 
	.br_mix-orange-teal				-	Mix of 60% Orange and 40% Teal 	


	Markup:
	<div class="{{modifier_class}} br_solid br_4">Border Color of {{modifier_class}}</div>

	Styleguide Border.Color.Alt

*/

// Currently Un used in the design but part of bootstrap.
$indigo: #6610f2 !default;
$pink: #e83e8c !default;
$yellow: #ffc107 !default;
$cyan: #17a2b8 !default;

/*

CVqualtiy Full Pallete 

Credit Types in the ACC have a specific color coding.

$orange-dark   			  -   #e87d1e;  	Orange Dark   	
$orange-light   		  -   #ffc425;  	Orange Light   
$warm-grey   			    -   #a1a0a4;  	Warm Grey   	
$warm-grey-light   		-   #d6d4d4;  	Warm Grey Light  
$warm-grey-dark   		-  #6f6b6f;  	Warm Grey Dark   
$off-white   			    -   #fafafa;  	Off White   	
$off-black   			    -  #{$black};  	Off Black   	
$soft-blue   			    -   #a4cded;  	Soft Blue   	
$soft-grey   			    -   #eceaea;  	Soft Grey   	
$error-color   			  -  #990000;  	Error Color   	
$scrub-teal   			  -  #0088aa;  	Scrub  Teal   	
$scrub-teal-light   	-  #05aee5;  	Scrub Teal Light 
$scrub-teal-dark   		-  #047294;  	Scrub Teal Dark  
$mix-teal_orange   		-  #58B5A5;  	Mix of 60% Teal And 40% Orange  
$mix-orange_teal   		-  #ACBD65;  	Mix of 60% Orange and 40% Teal  

Weight: 1

Styleguide DesignBase.Colors.Full Pallate

*/

$gray-100: mix($white, $black, 10%);
$gray-200: mix($white, $black, 20%);
$gray-300: mix($white, $black, 30%);
$gray-400: mix($white, $black, 40%);
$gray-500: mix($white, $black, 50%);
$gray-600: mix($white, $black, 60%);
$gray-700: mix($white, $black, 70%);
$gray-800: mix($white, $black, 80%);
$gray-900: mix($white, $black, 90%);

$theme-palette: map-merge(
	(
		primary: $teal,
		secondary: $grey-secondary,
		success: $green,
		warning: $orange-light,
		alert: $error-color,
		navigation: $blue,
		accent: $orange-dark,
		info: $alt-grey,
		highlight: $scrub-teal-light,
		acc: $acc-blue
	),
	$theme-palette
);

$primary: $scrub-teal;
$secondary: $warm-grey-dark;
$success: $green;
$info: $alt-grey;
$warning: $orange-light;
$danger: $error-color;
$light: $warm-grey-light;
$dark: $warm-grey-dark;

$grays: map-merge(
	(
		"100": $gray-100,
		"200": $gray-200,
		"300": $gray-300,
		"400": $gray-400,
		"500": $gray-500,
		"600": $gray-600,
		"700": $gray-700,
		"800": $gray-800,
		"900": $gray-900
	),
	$grays
);
$colors: map-merge(
	(
		"blue": $blue,
		"indigo": $indigo,
		"purple": $purple,
		"pink": $pink,
		"red": $red,
		"orange": $orange,
		"yellow": $yellow,
		"green": $green,
		"teal": $teal,
		"cyan": $cyan,
		"white": $white,
		"gray": $gray-600,
		"gray-dark": $gray-800
	),
	$colors
);

$fonts: (
	display: (
		name: "Maven Pro",
		stack: '"Maven Pro",Verdana,Helvetica,sans-serif;'
	),
	copy: (
		name: "Lato",
		stack: '"Lato","Open Sans","system-ui",sans-serif'
	),
	ui: (
		name: "Lato",
		stack: '"Lato","Open Sans","system-ui",sans-serif'
	)
);

// Reset Values of Utlity-css.vars.scss

$value-to-unit: map-deep-set($value-to-unit, "font-family" "display", map-deep-get($fonts, "display", "stack"));
$value-to-unit: map-deep-set($value-to-unit, "font-family" "copy", map-deep-get($fonts, "copy", "stack"));
$value-to-unit: map-deep-set($value-to-unit, "font-family" "ui", map-deep-get($fonts, "ui", "stack"));

$style-definition: map-deep-set(
	$style-definition,
	"font-family" "unit" "display",
	unquote(map-deep-get($value-to-unit, "font-family", "display"))
);
$style-definition: map-deep-set(
	$style-definition,
	"font-family" "unit" "copy",
	unquote(map-deep-get($value-to-unit, "font-family", "copy"))
);
$style-definition: map-deep-set(
	$style-definition,
	"font-family" "unit" "ui",
	unquote(map-deep-get($value-to-unit, "font-family", "ui"))
);

$global-radus-on: false;
$global-border-radius: 5px;
$global-border-round: 25px;
$basicSizeMultiplier: 1rem;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
	xxl: 1400px
);

$container-max-widths: (
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1350px
);

$tooltip-bg: $dark;

$h1-font-size: map-deep-get($value-to-unit, font-size, 7);
$h2-font-size: map-deep-get($value-to-unit, font-size, 5);
$h3-font-size: map-deep-get($value-to-unit, font-size, 3);
$h4-font-size: map-deep-get($value-to-unit, font-size, 2);
$h5-font-size: map-deep-get($value-to-unit, font-size, 1);
$h6-font-size: map-deep-get($value-to-unit, font-size, 0);

$font-size-base: $base-font-size-rem; // Assumes the browser default, typically `16px`
$font-size-lg: map-deep-get($value-to-unit, font-size, 2);
$font-size-sm: map-deep-get($value-to-unit, font-size, 0);

@import "config/cvquality/cvquality.gradients";
