/*
	CVquality Recipes

	The use of Utiltiy Class give us the ablitiy to create much of the UI needed for CV Quality without expanding on the base of the styles that are written.  Included are patterns to create some of the complex UI inside of CV Quality.

	Weight: 3000

	Styleguide Recipes CVQualtiy

*/
@import "recipes/cvquality/_cvquality._footer";
@import "recipes/cvquality/_cvquality._cards";
@import "recipes/cvquality/_cvquality._decorators";
