/*
Interactive Extras

Interactions can be enhanced with toggle icons or loading graphics to show the system is responding to user input.

 Styleguide 20.0
*/
/*

Lorem Text Loader

It is often we need to have space held for a return of details or text.  

markup:
<div class="mw_readable">
   <div class="m-y_2 lorem-loader mw_readable lorem-text lorem-headline">&nbsp;</div>
   <div class="m-y_2 lorem-loader mw_readable lorem-text">&nbsp;</div>
   <div class="m-y_2 lorem-loader mw_readable lorem-text">&nbsp;</div>
   <div class="m-y_2 lorem-loader mw_readable lorem-text">&nbsp;</div>
</div>

Styleguide 20.5
*/
/*

Lorem Image Loader

It is often we need to have space held for a return of details or text.  

markup:
<div class="mw_readable">
   <div class="m-y_2 lorem-loader mw_readable lorem-image">&nbsp;</div>
</div>

Styleguide 20.6
*/
.lorem-text {
  height: 1.4em;
  width: 100%;
}

.lorem-text:nth-child(3) {
  width: 80%;
}

.lorem-text:last-child {
  width: 50%;
}

.lorem-image {
  width: 100%;
  max-width: 300px;
  padding-top: 56.25%;
  height: 0;
}

.lorem-loader {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*

Expanded Click Area

allows for a relative container to be clickable by the link. 

markup:
<div class="card shadow_2 cell small-6 large-4 max-w_readable-n2" >
  <div class=" font_slab border-top-left-square c_white font_3 p_4 texture_dust card-divider bg_primary">
    This is a header
  </div>
  <img src="https://picsum.photos/400/300">
  <div class="card-section">
    <h4>This is a card.</h4>
	 <p>It has an easy to override visual style, and is appropriately subdued.</p>
	 <a href="#" class="exapnded-click-area button">I am so clickable</a>
  </div>
</div>

Styleguide 20.7
*/
.exapnded-click-area::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: #0000;
}
