/*
Styleguide Templates

This is not part of the style of Arches
This is a collection of documentation types that can be used as templates when doecuemting the Styles of Arches.  It is all based off of the ["SC5"](https://github.com/SC5/sc5-styleguide)

Styleguide Templates.0
*/
/* No styleguide reference. */

/*
 Item With Modifiers Template

Many Objects have modifiers like psudo classes and classes applied to make them look different.

default		- Default Design
:hover       - Subtle hover highlight.
.alert       - A highlight indicating you’ve already given a star.

 Markup:
 <li class="{{modifier_class}}">List Item</li>

 Styleguide Templates.3
*/

li {
	.templateDocumentation & {
		background-color: yellow;
		&.warning {
			background-color: orange;
		}
		&.alert {
			background-color: red;
		}
	}
}

/*
 Item With Validation Table

Many Objects have modifiers like psudo classes and classes applied to make them look different.

| Validation 			| State		 		| Message												|  
| ---- 					| ----- 			| --- 													|  
| required 				| warning 			| { Input Label Text } is missing.               					 |  
| all alph characters	| alert	 			| Only alpha characters are allowed.  					|  
| length > 3 			| alert  			| Item Name must be more then 3 Characters 					|  
| All Validations Met 	| success 			| valid Item Name 					|


default		- Default Design
.success       - Success State.
.alert       - Alert State.
.warning	- Warning State

 Markup:
 <div class="message {{modifier_class}}"> Validation Message </div>

 sg-wrapper:
 <div  class="templateDocumentation"><sg-wrapper-content/></div>

 Styleguide Templates.4
*/

.templateDocumentation .message {
	background-color: yellow;
	&.warning {
		background-color: orange;
	}
	&.alert {
		background-color: red;
	}
	&.success {
		background-color: green;
	}
}
