/*
  Table

  There is a basic styling around the pure DOM of a table.   But to get full brand styling alter the parent tag to <table class='table'>.

  markup:
  <table>
    <thead>
      <tr>
        <th>Table Header</th>
        <th>Table Header</th>
        <th>Table Header</th>
        <th>Table Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
    </tbody>
  </table>

 Styleguide HTML.Table
*/

/*

Table Styled

<table class='table'> will style the table with the generic branded coloring and spacing. 

markup:
<table class="table">
  <thead class="thead">
    <tr>
      <th>table header</th>
      <th>table header</th>
      <th>table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>table row 1 table cell A
        <br>
        <small class="c_primary">this is small text in blue</small>
      </td>
      <td>table row 1 table cell B
        <br>
        <small class="c_highlight">this is small text with magenta</small>
      </td>
      <td>table row 1 table cell C</td>
    </tr>
    <tr>
      <td>table row 2 table cell A</td>
      <td>table row 2 table cell B</td>
      <td>table row 2 table cell C</td>
    </tr>
  </tbody>
  <tfoot class="tfoot">
    <tr>
      <td colspan="3">footer cell</td>
    </tr>
  </tfoot>
</table>

Styleguide HTML.Table.BasicStyle
*/
.table {
	border-spacing: 0;
	.thead,
	thead {
		background-color: $white;

		th,
		td {
			border-bottom: 2px solid get-themecolor(primary, 1);
		}
	}
	.tfoot,
	tfoot {
		background-color: get-themecolor(secondary, 5);

		th,
		td {
			border-top: 1px solid get-themecolor(secondary, 1);
			font-style: italic;
		}
	}
}

/*

Table Column Shaded

`<table class="table column-shaded">` gives a blue tint to every other column in the table.



markup:
<table class="table column-shaded">
  <thead>
    <tr>
      <th>table header</th>
      <th>table header</th>
      <th>table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
    <tr>
      <td>row 2 cell A</td>
      <td>row 2 cell B</td>
      <td>row 2 cell C</td>
    </tr>
    <tr>
      <td>row 3 cell A</td>
      <td>row 3 cell B</td>
      <td>row 3 cell C</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">footer cell</td>
    </tr>
  </tfoot>
</table>

Styleguide HTML.Table.ColumnShaded
*/
.table.column-shaded {
	.thead,
	thead {
		th:nth-child(even) {
			// @extend .bg_acc-5;
			background-color: get-themecolor(acc, 5);
		}
	}
	.tbody,
	tbody {
		td:nth-child(even) {
			// @extend .bg_primary-5;
			background-color: get-themecolor(primary, 5);
		}
		tr:nth-child(even) {
			td:nth-child(even) {
				// @extend .bg_acc-4;
				background-color: get-themecolor(acc, 4);
			}
		}
	}
}

/*


Table Unshaded

`<table class="table unshaded"> removes the shadding for rows and footer giving a cleaner table. This table type is great for small data sets and removes the 100% wide table that is default in all other tables.  

markup:
<table class="table unshaded">
  <thead>
    <tr>
      <th>table header</th>
      <th>table header</th>
      <th>table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
    <tr>
      <td>row 2 cell A</td>
      <td>row 2 cell B</td>
      <td>row 2 cell C</td>
    </tr>
    <tr>
      <td>row 3 cell A</td>
      <td>row 3 cell B</td>
      <td>row 3 cell C</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">footer cell</td>
    </tr>
  </tfoot>
</table>

Styleguide HTML.Table.Unshaded
*/
.table.unshaded {
	width: auto;
	border: none;
	thead {
		border-top: none;
		border-right: none;
		border-left: none;
	}
	tbody tr:nth-child(even) {
		background-color: unset;
	}
	tbody tr + tr td {
		border-top: 1px get-themecolor(secondary, 5) solid;
	}
	tfoot {
		background-color: unset;
	}
}

/*

Table Column Shading: recipe

Table shading can be much more dynamic and varied if you are willing to build with utlity classes(UC's). You can see few variations of tables bellow that have been quickly been made with a basic table and background color classes applied to cells. 

.primary          - column colored variations of primary
.info             - column colored variations of info 
.accent      - column colored variations of highlighted 

markup:
<table class="table">
  <thead>
    <tr>
      <th>table header</th>
      <th class="bg_{{modifier_class}}-4">table header</th>
      <th>table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row 1 cell A</td>
      <td class="bg_{{modifier_class}}-5">row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
    <tr>
      <td>row 2 cell A</td>
      <td class="bg_{{modifier_class}}-4">row 2 cell B</td>
      <td>row 2 cell C</td>
    </tr>
    <tr>
      <td>row 3 cell A</td>
      <td class="bg_{{modifier_class}}-5">row 3 cell B</td>
      <td>row 3 cell C</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">footer cell</td>
    </tr>
  </tfoot>
</table>

Styleguide HTML.Table.UtilityClasses.Shading
*/

/*
Table Cell States: RECIPE

States can be easily applied to the tables using UC's


markup:
<table class="table">
  <tr>
    <td class="bg_alert-4 border_solid border-width_1 border_alert font-weight_bold text-center">
      <i class="fas fa-times-circle"></i>
    </td>
    <td class="">
    </td>
    <td class="">Text</td>
    <td class="bg_warning-4 border_solid border-width_1 border_warning font-weight_bold">
      <i class="fas fa-exclamation-triangle"></i> Warning</td>
  </tr>
  <tr>
    <td class="">
    </td>
    <td class="bg_info-4 border_solid border-width_1 border_info font-weight_bold text-center">
      <i class="fas fa-lightbulb-exclamation"></i>
    </td>
    <td class="">Text</td>
    <td class="bg_info-4 border_solid border-width_1 border_info font-weight_bold">
      <i class="fas fa-lightbulb-exclamation"></i>
      Info</td>
  </tr>
  <tr>
    <td class="">
    </td>
    <td class="warning icon">
    </td>  
    <td class="bg_alert-4 border_solid border-width_1 border_alert font-weight_bold">Alert</td>
    <td class=""> Text</td>
  </tr>
  <tr>
    <td class="success icon">
    </td>
    <td class="info icon">
    </td>
    <td class="bg_success-4 border_solid border-width_1 border_success font-weight_bold"><i class="fas fa-check"></i> Success</td>
    <td class=""> text</td>
  </tr>
</table>

Styleguide HTML.Table.UtilityClasses.CellStates
*/

/*

Table Seperators: RECIPE

Styling seperators on tables is now completely controled by utility classes giving much more flexablity to designs.



markup:
<table class="table stripped">
  <thead>
    <tr>
      <th>table header</th>
      <th>table header</th>
      <th>table header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
    <tr class="bg_info-1 border_solid border-left-width_0  border-right-width_0 border-width_1 border border_info font-weight_bold font_n2 text-left c_white">
      <td colspan='3' class="p_2">Separator With Info</td>
    </tr>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
    <tr class="bg_success-1 border_solid border-left-width_0  border-right-width_0 border-width_1 border border_success font-weight_bold font_n2 text-left c_white">
      <td colspan='3' class="p_2">Separator With success</td>
    </tr>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
    <tr class="bg_alert-1 border_solid border-left-width_0 border-right-width_0 border-width_1 border border_alert font-weight_bold font_n2 text-left c_white">
      <td colspan='3' class="p_2">Separator With Alert</td>
    </tr>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
   <tr class="bg_warning-1 border_solid border-left-width_0  border-right-width_0 border-width_1 border border_warning font-weight_bold font_n2 text-left">
      <td colspan='3' class="p_2">Separator With warning</td>
    </tr>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
   <tr class="bg_secondary-3 border_solid border-left-width_0  border-right-width_0 border-width_1 border border_secondary font-weight_bold font_n2 text-left">
      <td colspan='3' class="p_2">Separator With disabled</td>
    </tr>
    <tr>
      <td>row 1 cell A</td>
      <td>row 1 cell B</td>
      <td>row 1 cell C</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">footer cell</td>
    </tr>
  </tfoot>
</table>

Styleguide HTML.Table.UtilityClasses.RowSeperators
*/
