/*
Scrollable Table

Sometimes you have a table that will need a scrable comparison. 

Markup:
<table class="data">
  <tr>
    <th>Entry Header 1</th>
    <th>Entry Header 2</th>
    <th>Entry Header 3</th>
    <th>Entry Header 4</th>
  </tr>
  <tr>
    <td>Entry First Line 1</td>
    <td>Entry First Line 2</td>
    <td>Entry First Line 3</td>
    <td>Entry First Line 4</td>
  </tr>
  <tr>
    <td>Entry Line 1</td>
    <td>Entry Line 2</td>
    <td>Entry Line 3</td>
    <td>Entry Line 4</td>
  </tr>
  <tr>
    <td>Entry Last Line 1</td>
    <td>Entry Last Line 2</td>
    <td>Entry Last Line 3</td>
    <td>Entry Last Line 4</td>
  </tr>
</table>

Styleguide HTML.Table
*/

/*
Scrollable Table

Sometimes you have a table that will need a scrable comparison. 

Markup:
<div class="table-scrollable-container">
<div class="instructions"> <i class="fa fa-long-arrow-left"></i> Scroll For Software Companies  <i class="fa fa-long-arrow-right"></i> </div>
    <table class="table-scrollable">
        <thead>
            <tr>
                <th>Certified NCDR Software Vendor</th>
                <th>IMPACT Registry</th>
                <th>ACTION Registry</th>
                <th>PVI Registry</th>
                <th>CathPCI Registry</th>
                <th>ICD Registry</th>
                <th>AFib Registry</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#157" class="parent-cell">ARMUS Corporation</a></td>
                <td>Certified 04/21/2017</td>
                <td>Certified 12/23/14</td>
                <td>Certified October 18, 2017
                </td>
                <td>Certified - Interoperable with ACTION v2 07/14/10</td>
                <td>Certified 08/05/2016</td>
                <td>Certified 08/05/2016</td>
            </tr>
            <tr>
                <td><a href="#101" class="parent-cell">Axis Clinical Software, Inc.</a></td>
                <td>Certified 08/24/2016</td>
                <td>Interoperable with CathPCI and ICD v4 01/13/15</td>
                <td>Certified 11/07/2014</td>
                <td>Certified Interoperable with ACTION v2 10/28/11 and ICD v2 04/13/12
                    <br><b>*Metric License </b></td>
                <td>Certified 05/27/16
                    <br><b>*Metric License </b></td>
                <td>Certified 07/29/2016</td>
            </tr>
            <tr>
                <td><a href="#127" class="parent-cell">BayaTree, LLC</a></td>
                <td>&nbsp;
                </td>
                <td>Certified 07/12/2017</td>
                <td>&nbsp;
                </td>
                <td>Certified 08/18/2009</td>
                <td>Certified 05/24/16</td>
                <td>Certified 09/09/2016</td>
            </tr>
            <tr>
                <td><a href="#179" class="parent-cell">CardioAccess, Inc.</a></td>
                <td>Certified 06/03/2016</td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
            </tr>
            <tr>
                <td><a href="#110" class="parent-cell">CardioPulse</a></td>
                <td>&nbsp;
                </td>
                <td>Interoperable with CathPCI v4 and ICD v2 04/10/15</td>
                <td>&nbsp;
                </td>
                <td>Interoperable with ICD v2 and ACTION v2 9/6/11</td>
                <td>Certified 09/08/2016</td>
                <td>Certified 10/18/2017</td>
            </tr>
            <tr>
                <td><a href="#103" class="parent-cell">Cedaron Medical, Inc.</a></td>
                <td>Certified 01/15/2016</td>
                <td>Interoperable with CathPCI and ICD v4 11/24/14
                    <br><b>*Metric License </b></td>
                <td>Certified 06/03/2014
                    <br><b>*Metric License </b></td>
                <td>Certified Interoperable with ACTION v2 05/04/10
                    <br><b>*Metric License </b></td>
                <td>Certified 05/25/16
                    <br><b>*Metric License </b></td>
                <td>Certified 07/13/2016</td>
            </tr>
            <tr>
                <td><a href="#140" class="parent-cell">Epic</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified 06/09/2009</td>
                <td>Certified 04/28/2016</td>
                <td>Certified 04/12/2017</td>
            </tr>
            <tr>
                <td><a href="#205" class="parent-cell">Flexible Informatics</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified 07/13/2017</td>
                <td>Certified 07/25/2017</td>
            </tr>
            <tr>
                <td><a href="#105" class="parent-cell">GE Healthcare</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified 03/06/2009</td>
                <td>Certified 07/07/16</td>
                <td>Certified 07/12/2016</td>
            </tr>
            <tr>
                <td><a href="#200" class="parent-cell">Health Level</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified v4.4 12/07/2016</td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
            </tr>
            <tr>
                <td><a href="#108" class="parent-cell">heartbase</a></td>
                <td>&nbsp;
                </td>
                <td>Interoperable with CathPCI and ICD 05/01/15</td>
                <td>Certified 06/18/2014</td>
                <td>Interoperable with ACTION v2 and ICD v2 03/29/13
                    <br><b>*Metric License </b></td>
                <td>Certified 06/08/16</td>
                <td>Certified 08/03/2016</td>
            </tr>
            <tr>
                <td><a href="#118" class="parent-cell">Juniper Consulting Group</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified 06/22/2009</td>
                <td>Certified 05/24/16</td>
                <td>Certified 11/10/2016</td>
            </tr>
            <tr>
                <td><a href="#111" class="parent-cell">LUMEDX</a></td>
                <td>Certified 03/17/2016
                    <br><b>*Metric License </b></td>
                <td>Interoperable with CathPCI and ICD v4 02/05/15</td>
                <td>Certified 05/11/2015</td>
                <td>Interoperable with ACTION v2</td>
                <td>Certified 08/10/16
                    <br><b>*Metric License </b></td>
                <td>Certified 12/22/2016</td>
            </tr>
            <tr>
                <td><a href="#183" class="parent-cell">Navion Healthcare Solutions</a></td>
                <td>&nbsp;
                </td>
                <td>Certified 01/23/15
                    <br><b>*Metric License </b></td>
                <td>&nbsp;
                </td>
                <td>Certified 04/01/2013
                    <br><b>*Metric License </b></td>
                <td>Certified 08/09/16
                    <br><b>*Metric License </b></td>
                <td>Certified 04/19/2017</td>
            </tr>
            <tr>
                <td><a href="#199" class="parent-cell">Q-Centrix</a></td>
                <td>&nbsp;
                </td>
                <td>Certified v2.4 05/17/2016
                    <br><b>*Metric License </b></td>
                <td>&nbsp;
                </td>
                <td>Certified 04/28/16
                    <br><b>*Metric License </b></td>
                <td>Certified 11/22/2016</td>
                <td>Certified 10/12/2017</td>
            </tr>
            <tr>
                <td><a href="#138" class="parent-cell">Quantros, Inc.</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified 09/30/2009</td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
            </tr>
            <tr>
                <td><a href="#153" class="parent-cell">Quintiles</a></td>
                <td>&nbsp;
                </td>
                <td>Certified 03/10/15</td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
            </tr>
            <tr>
                <td><a href="#176" class="parent-cell">Scientific Software Solutions, Inc.</a></td>
                <td>Certified 02/05/2016</td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
            </tr>
            <tr>
                <td><a href="#174" class="parent-cell">SoftLink International Inc.</a></td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>&nbsp;
                </td>
                <td>Certified 05/02/2012</td>
                <td>Certified 05/26/2016</td>
                <td>Certified 05/26/2016</td>
            </tr>
        </tbody>
    </table>
</div>

Styleguide HTML.Table.Scrollable
*/

.table-scrollable-container {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	table {
		display: block;
		position: relative;
		//border: 1px solid $warm-grey-light;
		border-top: 0 none transparent;
	}
	thead,
	tbody {
		display: block;
	}
	thead {
		width: 40%;
		// @include bp(md) {
		// 	width: 18em;
		// }
		z-index: 2;
		//background-color: $soft-grey;
		position: absolute;
		top: 0;
		left: 0;
		tr {
			width: 100%;
			display: block;
		}
		th {
			display: block;
			height: 7rem;
			font-size: ms(1);
			// line-height: $tight;
			// @include bp(md) {
			// 	height: 4rem;
			// }
			// @include bp(sm-height-down) {
			// 	line-height: $crunched;
			// 	font-size: ms(0);
			// 	height: 3.5rem;
			// 	overflow: hidden;
			// 	text-overflow: ellipsis;
			// }

			&:nth-child(2n + 2) {
				//background-color: mix($soft-blue, $soft-grey, 10);
			}
		}
		//border-right: 3px solid $scrub-teal;
	}
	tbody {
		white-space: nowrap;
		padding-left: 40%;
		// @include bp(md) {
		// 	padding-left: 18em;
		// }
		overflow-x: scroll;
		tr {
			width: 90%;
			// @include bp(md) {
			// 	width: 15em;
			// }
			white-space: normal;
			display: inline-block;
			margin-right: -0.125em;
		}
		tr + tr {
			//border-left: $soft-blue 1px solid;
		}
		td {
			display: block;
			width: 100%;
			// font-size: ms(-1);
			//line-height: $tight;
			height: 7rem;
			// @include bp(md) {
			// 	height: 4rem;
			// }
			// @include bp(sm-height-down) {
			// 	//line-height: $crunched;
			// 	height: 3.5rem;
			// 	overflow: hidden;
			// 	text-overflow: ellipsis;
			// 	font-size: ms(-2);
			// }
			// b {
			// 	//color: $primary-color-dark;
			// }
			&:nth-child(2n + 2) {
				//background-color: mix($soft-blue, white, 10);
			}
		}
	}
	th,
	td {
		padding: 0.5rem 1rem 0.25rem 1rem;
		//border-bottom: 1px solid $warm-grey-light;
		// @include bp(sm-height-down) {
		//     padding: .25rem .5rem .125rem .5rem;
		// };
	}
	th {
		//border-bottom: 1px solid $warm-grey;
	}
	.instructions {
		// color: $primary-color-dark;
		// border: 1px solid $warm-grey-light;
		// border-bottom: 2px solid $warm-grey;
		// background-color: $soft-grey;
		width: 100%;
		text-align: center;
		display: block;
		padding: 0.25rem 1rem;
		font-size: ms(-1);
		.fa {
			margin: 0 0.25rem;
		}
	}
}
.table-scrollable {
	.parent-cell {
		font-size: ms(1);
		// @include font-display(bold);
		// color: $scrub-teal-dark;
		// @extend .icon-after;
		&:after {
			// color: $primary-color-dark;
			// content: "\f05a";
		}
	}
}
@media print {
	.table-scrollable-container {
		.table-scrollable .parent-cell {
			padding: 1em;
		}
		.instructions {
			display: none;
		}
		table {
			width: 100%;
			position: relative;
			clear: both;
			* {
				width: auto;
				height: auto;
				margin: 0;
				padding: 0;
				position: relative;
			}
			display: table;
			thead,
			tbody,
			tfoot {
				display: table-row-group;
			}
			tr {
				display: table-row;
			}
			td,
			th {
				display: table-cell;
				padding: 5px;
			}
		}
	}
}
