/*

Basic Typography

Basic Typography with this variation of Arches. Please note that typography can have a different base design depending on the brand or the framework underpinning.  

Markup:
<h1>Lorem ipsum dolor sit amet consectetuer adipiscing 
elit</h1>
<h2>Aenean commodo ligula eget dolor aenean massa</h2>
<h3>Cum sociis natoque penatibus et magnis dis 
parturient montes nascetur ridiculus mus</h3>
<h4>Donec quam felis ultricies nec pellentesque eu 
pretium quis sem nlla consequat massa quis enim</h4>
<h5>Donec pede justo fringilla vel aliquet nec vulputate 
eget arcu</h5>
<h6>In enim justo rhoncus ut imperdiet a venenatis vitae 
justo</h6>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
elit. Aenean commodo ligula eget dolor. Aenean massa. 
Cum sociis natoque penatibus et magnis dis parturient 
montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>


Styleguide HTML.Typography

*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th {
	-webkit-transition: line-height 1s; /* Safari */
	transition: line-height 1s;
	-webkit-transition: margin 1s; /* Safari */
	transition: margin 1s;
}

.sub-line {
	display: block;
	font-size: 50%;
	clear: both;
	line-height: 1.25em;
	margin-top: -0.25em;
	opacity: 0.75;
}
