// parent-level is the ms() of the parent
h1,h2,h3,h4,h5,h6,p,td,th{
	-webkit-transition: line-height 1s; /* Safari */
	transition: line-height 1s;
	-webkit-transition: margin 1s; /* Safari */
	transition: margin 1s;
}

.sub-line {
    display: block;
    font-size: 50%;
    clear: both;
    line-height: 1.25em;
    margin-top: -0.25em;
    opacity: .75;
}