/*
UC: Background 

Background of containers can be easily maniputlated with textures, colors, and shadows.  

Weight: 120

Styleguide Background
*/
/* No styleguide reference. */
/*
  Background Colors
 
  Background colors can be easily change with bg_`color-name`  
 
  bg_primary            	- background color warning color
  bg_secondary            	- background color warning color
  bg_alert            	- background color alert color
  bg_warning            	- background color warning color
  bg_success              - background color success color
  bg_info              - background color success color
  bg_highlight              - background color success color  

  Weight: -100

  Markup:
  <div class="{{modifier_class}} p_3 c_white">Background Color of {{modifier_class}}</div>
 
  Styleguide Background.Color
 
 */
/*
Background Color Shades

Background colors can be shifted by appending a modifier of n5 to 5.  The negative(n) numbers mix the color with black and the positive numbers mix the color with white.   

bg_primary                - background color modified light to dark
bg_secondary              - background color modified light to dark
bg_accent                 - background color modified light to dark
bg_navigation             - background color modified light to dark
bg_info                   - background color modified light to dark
bg_highlight              - background color modified light to dark
bg_success                - background color modified light to dark
bg_warning                - background color modified light to dark
bg_alert                  - background color modified light to dark
bg_acc                    - background color modified light to dark


Markup:
<div class="flex">
  <div class="bg_white flex_auto text_center p_2 p-y_5 ">white</div>
  <div class="{{modifier_class}}-5 flex_auto text_center  p_2 p-y_5">5</div>
  <div class="{{modifier_class}}-4 flex_auto text_center  p_2 p-y_5">4</div>
  <div class="{{modifier_class}}-3 flex_auto text_center  p_2 p-y_5">3</div>
  <div class="{{modifier_class}}-2 flex_auto text_center  p_2 p-y_5">2</div>
  <div class="{{modifier_class}}-1 flex_auto text_center  c_white p_2 p-y_5">1</div>
  <div class="{{modifier_class}}-0 flex_auto text_center  c_white p_2 p-y_5">0</div>
  <div class="{{modifier_class}}-n1 flex_auto text_center  c_white p_2 p-y_5">n1</div>
  <div class="{{modifier_class}}-n2 flex_auto text_center  c_white p_2 p-y_5">n2</div>
  <div class="{{modifier_class}}-n3 flex_auto text_center  c_white p_2 p-y_5">n3</div>
  <div class="{{modifier_class}}-n4 flex_auto text_center  c_white p_2 p-y_5">n4</div>
  <div class="{{modifier_class}}-n5 flex_auto text_center  c_white p_2 p-y_5">n5</div>
  <div class="bg_black flex_auto text_center  c_white p_2 p-y_5">black</div>
</div>


Styleguide Background.Color.Shades
 
 */

@each $color-name, $color in $theme-palette {
	@include color-loop(background-color, $color-name, $color);
}

#{ class-name-constructor(background-color, white)} {
	background-color: $white;
}
#{ class-name-constructor(background-color, black)} {
	background-color: $black;
}
@include loop-transparent(
	background-transparent,
	black,
	"",
	"!important",
	false
);
@include loop-transparent(
	background-transparent,
	white,
	"",
	"!important",
	false
);
/*
  Background Colors Alpha
 
  Background colors of white and black can be shifted by appending a modifier bg_{{color-name}}-{{0 to 9}} to shift its transparency
 
  black              - background color of black modified with alphas
  white              - background color of white modified with alphas

  Markup:
  <div class="flex p_4 bg_primary">
    <div class="bg_{{modifier_class}}-0 flex_auto text_center c_white  p_2 p-y_5">{{modifier_class}}-0</div>
    <div class="bg_{{modifier_class}}-1 flex_auto text_center c_white  p_2 p-y_5">{{modifier_class}}-1</div>
    <div class="bg_{{modifier_class}}-2 flex_auto text_center c_white  p_2 p-y_5">{{modifier_class}}-2</div>
    <div class="bg_{{modifier_class}}-3 flex_auto text_center c_white  p_2 p-y_5">{{modifier_class}}-3</div>
    <div class="bg_{{modifier_class}}-4 flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}-4</div>
    <div class="bg_{{modifier_class}}-5 flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}-5</div>
    <div class="bg_{{modifier_class}}-6 flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}-6</div>
    <div class="bg_{{modifier_class}}-7 flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}-7</div>
    <div class="bg_{{modifier_class}}-8 flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}-8</div>
    <div class="bg_{{modifier_class}}-9 flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}-9</div>
    <div class="bg_{{modifier_class}} flex_auto text_center c_white p_2 p-y_5">{{modifier_class}}</div>
  </div>

  Styleguide Background.Color.With Alphas
 
 */
