/*
UC: Display & Flex

Control the display of objects with control of break points, and the layout functions of flex easily by adding utlity classes. 

Weight: 106

Styleguide display

*/
/* No styleguide reference. */
/*
	Display

	quickly alter the padding of an object 

	.block              		- the element is the a block
	.inline              	- the element is now inline
	.inline-block           - the element is now inline-block
	.table-cell             - the element is now table-cell
	.flex-inline            - the element is now flex-inline
	.display_none             		- the element is now display none

	Markup:
	<div class="br_solid br_transparent bg_alert-3  text_center">
		<div class="bg_primary-5 text_center {{modifier_class}}">Content</div>
	</div>

	Styleguide display.type

 */

@include loop-style(display);

@media #{$medium-up} {
	@include loop-style(display, $bp-label_medium);
}
@media #{$large-up} {
	@include loop-style(display, $bp-label_large);
}

/*
	Vertical Align

	quickly alter the verticle alignment of the child. Cation the vertical only works on valid combinations. 

	.vertical-align_top              		- the child is aligned to the top
	.vertical-align_middle              	- the child is aligned to the top
	.vertical-align_bottom            		- the child is aligned to the top
	.vertical-align_baseline          		- the child is aligned to the top


	Markup:
	<div class="br_solid br_transparent bg_alert-3 text_center table-cell w_100 {{modifier_class}} " style="height:100px;">
		<div class="bg_primary-5 text_center inline-block ">Content</div>
	</div>

	Styleguide display.vertical alignment

 */

.vertical-align_top {
	vertical-align: top;
}
.vertical-align_middle {
	vertical-align: middle;
}
.vertical-align_bottom {
	vertical-align: bottom;
}
.vertical-align_baseline {
	vertical-align: baseline;
}
