/*
	Opacity Levels

	Set the Opacity of an object.  Unlike the 

	.opacity_0                        - Opacity of 0%
	.opacity_1                        - Opacity of 10%
	.opacity_2                        - Opacity of 20%
	.opacity_3                        - Opacity of 30%
	.opacity_4                        - Opacity of 40%
	.opacity_5                        - Opacity of 50%
	.opacity_6                        - Opacity of 60%
	.opacity_7                        - Opacity of 70%
	.opacity_8                        - Opacity of 80%
	.opacity_9                        - Opacity of 90%
	.opacity_none                     - No Opacity

	markup:
	<div class="{{modifier_class}} br_1 br_solid br_white p_2 bg_warning c_white">{{modifier_class}}</div>

	sg-wrapper: 
	<div class="p_4 bg_primary">
		<sg-wrapper-content/>
	</div>

	Styleguide 105.1
 
 */
@include loop-style(opacity);

#{#{class-name-constructor(opacity,"", "","hover")}} {
	opacity: 1;
}
/*
	Opacity: Hover

	Set the Opacity of an object to 100% while hovered.

	
	.opacity_1                        - Opacity of 5%
	.opacity_5                        - Opacity of 50%
	.opacity_9                        - Opacity of 95%
	.opacity_0                        - Opacity of 95%

	markup:
	<div class="{{modifier_class}} h:opacity  br_1 br_solid br_white p_2 bg_warning c_white">hover me to bring me to full opacity</div>

	sg-wrapper: 
	<div class="p_4 bg_primary">
		<sg-wrapper-content/>
	</div>

	Styleguide 105.2
 
 */
