/*
UC: Opacity

A subtle set of  UCs that control opacity can alter the objects level of focus.

Weight: 128

Styleguide Opacity

*/
/* No styleguide reference. */

/*
	Opacity Levels

	Set the Opacity of an object.

	.opacity_0                        - Opacity of 0%
	.opacity_1                        - Opacity of 10%
	.opacity_2                        - Opacity of 20%
	.opacity_3                        - Opacity of 30%
	.opacity_4                        - Opacity of 40%
	.opacity_5                        - Opacity of 50%
	.opacity_6                        - Opacity of 60%
	.opacity_7                        - Opacity of 70%
	.opacity_8                        - Opacity of 80%
	.opacity_9                        - Opacity of 90%
	.opacity_none                     - No Opacity

	markup:
	<div class="p_4 bg_primary">
		<div class="{{modifier_class}} br_1 br_solid br_white p_2 bg_warning c_white">{{modifier_class}}</div>
	</div>

	Styleguide opacity.basic
 
 */
@include loop-style(opacity);
