/*
Overflow

Control some basics of how content overflows.   

.overflow_hidden   - hidden
.overflow_auto    - auto
.overflow_visible    - visible
.overflow_scroll    - scroll
.overflow_clip    - clip
.overflow_ellipsis    - ellipsis
.overflow_unset   - unset

	markup:
	<div class="br_solid br_transparent bg_alert-3 max-w_1 {{modifier_class}}">
		<p class="nowrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quisquam vero, accusamus repellendus rerum sed dolorem quidem harum, neque odit dolor minima, quia et recusandae voluptatibus similique! Earum, unde laborum.</p>
	</div>

Weight: 100

Styleguide display.overflow

*/

.overflow_hidden {
	overflow: hidden;
}

.overflow_visible {
	overflow: visible;
}

.overflow_auto {
	overflow: auto;
}

.overflow_scroll {
	overflow-x: scroll;
}

.overflow_clip {
	@extend .overflow_hidden;
	text-overflow: clip;
}

.overflow_ellipsis {
	@extend .overflow_hidden;
	text-overflow: ellipsis;
}

.overflow_unset {
	overflow: unset;
}
