/*
UC: Overflow

Control some basics of the design with max-width and width.   

Weight: 100

Styleguide Display.Overflow

*/
/* No styleguide reference. */
.overflow_hidden, .overflow_clip, .overflow_ellipsis {
  overflow: hidden;
}

.overflow_visible {
  overflow: visible;
}

.overflow_auto {
  overflow: auto;
}

.overflow_scroll {
  overflow-x: scroll;
}

.overflow_clip {
  text-overflow: clip;
}

.overflow_ellipsis {
  text-overflow: ellipsis;
}

.overflow_unset {
  overflow: unset;
}
