/*
	Width

	Control the width either with 12 x grid messurments or by 10% increments

	.w_10 - modify top of an absolute positioned block 
	.w_50 - modify top of an absolute positioned block
	.w_70 - modify bottom of an absolute positioned block 
	.w_90 - modify bottom of an absolute positioned block
	.gw_2 - modify left of an absolute positioned block 
	.gw_6 - modify left of an absolute positioned block
	.gw_8 - modify right of an absolute positioned block 
	.gw_9 - modify right of an absolute positioned block


	markup:
	<div class=" br_solid br_transparent bg_alert-3 p_5"><div class="bg_white text-left {{modifier_class}}">{{modifier_class}} </div></div>

	Styleguide 111.1

 */
@include loop-style(max-width, "", "!important");
@include loop-style(width, "", "");
@include loop-style(grid-width, "", "");

@media #{$medium-up} {
	@include loop-style(max-width, $bp-label_medium, "!important");
	@include loop-style(width, $bp-label_medium, "");
	@include loop-style(grid-width, $bp-label_medium, "");
}

@media #{$large-up} {
	@include loop-style(max-width, $bp-label_large, "!important");
	@include loop-style(width, $bp-label_large, "");
	@include loop-style(grid-width, $bp-label_large, "");
}

/*
	Max Width

	Control the max width by 10% increments or by readable which is 65em

	.max-w_1.lh_4 - width size for a column that would match up to the smallest breakpoint.
	.max-w_2.font_n1.lh_4 - comfortable reading range for font_n1 text.
	.max-w_3.font_0.lh_3 - comfortable reading range for font_0 text
	.max-w_4.font_1.lh_2 - comfortable reading range for font_1 text
	.max-w_5.lh_4 - large screen format of 1280px


	markup:
	<div class=" br_solid br_transparent bg_alert-3 p_5"><div class="bg_white text-left {{modifier_class}}"><strong>{{modifier_class}}</strong> Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec.</div></div>

	Styleguide 111.2

 */
