/*
Cards

Basic Cards

Markup:
<div class="card">
 <h3 class="card-header">Basic Card</h3>
  <div class="card-body">
    <p>cupidatat eu dolor dolor aliquip aliqua velit esse magna culpa qui fugiat ad culpa consectetur sint tempor elit dolor eu anim nisi quis consectetur laborum laboris proident consectetur mollit esse</p>
  </div>
   <div class="card-footer"> <a href="#" class="btn btn-primary btn-block">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards
*/

/*
Highlighted Card

Highlighted Cards are stylized cards with a soft blue background and changes all header sizes and text to a bit larger. These cards are used as hero area or for extra interest.


Markup:
<div class="bg_primary-5 br_1 br_primary-4 br_radius card highlighted shadow_1">
 <h2 class="bg_tansparent br-b_0 c_accent c_secondary-n4 card-header font_1 font_2:md font_bold font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg uppercase">Highlighted Card</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
    <p>Repudiandae adipisci illum omnis et suscipit at amet ex. Error magni laborum autem et rerum porro asperiores sunt. Et veritatis rerum voluptas hic eum sint. Ipsa labore eos autem cupiditate ut molestiae sit fugiat. Rerum sit dolorem veritatis est quia nesciunt tenetur ut. Animi earum illo sed incidunt fuga.</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Highlight
*/

/*
Card Positions

Placing cards inside of content areas is needed within the design.  Placing some utility classes will acomplish this with a responsive toggle. 
| Style Combo       | Effect                                          | Classes                                                   |
| ----------------- | ----------------------------------------------- | --------------------------------------------------------- |
| position-right-lg | floats the card when the veiwport is large up.  | max-w_1 clear_right\:lg float_right\:lg w_20:lg           |
| position-right-md | floats the card when the veiwport is medium up. | max-w_1 clear_right\:md float_right\:md w_40\:md w_20\:lg |
| position-right-sm | floats the card when the veiwport is small up.  | max-w_1 clear_right float_right w_50 w_40\:md w_20\:lg    |
| position-left-lg  | floats the card when the veiwport is small up.  | max-w_1 clear_left\:lg float_left\:lg w_20:lg             |
| position-left-md  | floats the card when the veiwport is medium up. | max-w_1 clear_left\:md float_left\:md w_40\:md w_20\:lg   |
| position-left-sm  | floats the card when the veiwport is large up.  | max-w_1 clear_left float_left w_50 w_40\:md w_20\:lg      |


Markup:
<div class="bg_primary-5 br_1 br_primary-4 br_radius card highlighted shadow_1 max-w_1 clear_right float_right w_50 w_40\:md w_20\:lg ">
 <h2 class="bg_tansparent br-b_0 c_accent c_secondary-n4 card-header font_1 font_2:md font_bold font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg uppercase">Positioned Small Right</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
  <p class=" font_n2"> Container Classes:max-w_1 clear_right float_right w_50 w_40:md w_20:lg</p>  
  <p>Repudiandae adipisci illum omnis et suscipit at amet ex. Error magni laborum autem et rerum porro asperiores sunt. Et veritatis rerum voluptas hic eum sint. Ipsa labore eos autem cupiditate ut molestiae sit fugiat. Rerum sit dolorem veritatis est quia nesciunt tenetur ut. Animi earum illo sed incidunt fuga.</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Positon
*/

/*
Info Card

Info Cards are stylized cards with a warm grey background and changes all headers to bold.  These cards are side notes to the main content

Markup:
<div class="bg_secondary-4 br_radius card info shadow_n1 br_0">
 <h2 class="bg_tansparent br-b_0 c_secondary-n4 card-header font_1 font_2:md font_bold font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg">Info Card</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
    <p>aliqua mollit consectetur labore ipsum velit officia nulla anim magna est id elit irure qui dolor exercitation incididunt exercitation proident anim officia veniam reprehenderit laboris incididunt irure enim amet esse</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Info
*/
