/*
Cards

Basic Cards

Markup:
<div class="card">
 <h3 class="card-header">Basic Card</h3>
  <div class="card-body">
    <p>cupidatat eu dolor dolor aliquip aliqua velit esse magna culpa qui fugiat ad culpa consectetur sint tempor elit dolor eu anim nisi quis consectetur laborum laboris proident consectetur mollit esse</p>
  </div>
   <div class="card-footer"> <a href="#" class="btn btn-primary btn-block">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards
*/

/*
Highlighted Card

Highlighted Cards are stylized cards with a soft blue background and changes all header sizes and text to a bit larger. These cards are used as hero area or for extra interest.


Markup:
<div class="bg_primary-5 br_primary-4 br_radius card highlighted">
 <h2 class="bg_tansparent br-b_0 c_accent c_secondary-n4 card-header font_1 font_2:md font_3:lg p-b_3 p-x_3 p-x_3:md p-x_4:lg uppercase">Highlighted Card</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
    <p>Repudiandae adipisci illum omnis et suscipit at amet ex. Error magni laborum autem et rerum porro asperiores sunt. Et veritatis rerum voluptas hic eum sint. Ipsa labore eos autem cupiditate ut molestiae sit fugiat. Rerum sit dolorem veritatis est quia nesciunt tenetur ut. Animi earum illo sed incidunt fuga.</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Highlight
*/

/*
Card Positions

Placing cards inside of content areas is needed within the design.  Placing some utility classes will acomplish this with a responsive toggle. 
| Style Combo       | Effect                                          | Classes                                                   |
| ----------------- | ----------------------------------------------- | --------------------------------------------------------- |
| position-right-lg | floats the card when the veiwport is large up.  | max-w_1 clear_right\:lg float_right\:lg w_20:lg           |
| position-right-md | floats the card when the veiwport is medium up. | max-w_1 clear_right\:md float_right\:md w_40\:md w_20\:lg |
| position-right-sm | floats the card when the veiwport is small up.  | max-w_1 clear_right float_right w_50 w_40\:md w_20\:lg    |
| position-left-lg  | floats the card when the veiwport is small up.  | max-w_1 clear_left\:lg float_left\:lg w_20:lg             |
| position-left-md  | floats the card when the veiwport is medium up. | max-w_1 clear_left\:md float_left\:md w_40\:md w_20\:lg   |
| position-left-sm  | floats the card when the veiwport is large up.  | max-w_1 clear_left float_left w_50 w_40\:md w_20\:lg      |


Markup:
<div class="bg_primary-alt br_1 br_primary-4 br_radius card highlighted shadow_1 max-w_1 clear_right float_right w_50 w_40\:md w_20\:lg ">
 <h2 class="bg_tansparent br-b_0 c_accent c_secondary-n4 card-header font_1 font_2:md font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg uppercase">Positioned Small Right</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
  <p class=" font_n2"> Container Classes:max-w_1 clear_right float_right w_50 w_40:md w_20:lg</p>  
  <p>Repudiandae adipisci illum omnis et suscipit at amet ex. Error magni laborum autem et rerum porro asperiores sunt. Et veritatis rerum voluptas hic eum sint. Ipsa labore eos autem cupiditate ut molestiae sit fugiat. Rerum sit dolorem veritatis est quia nesciunt tenetur ut. Animi earum illo sed incidunt fuga.</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Positon
*/

/*
Info Card

Info Cards are stylized cards with a warm grey background and changes all headers to bold.  These cards are side notes to the main content

Markup:
<div class="bg_secondary-4 br_radius card info shadow_n1 br_0">
 <h2 class="bg_tansparent br-b_0 c_secondary-n4 card-header font_1 font_2:md font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg">Info Card</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
    <p>aliqua mollit consectetur labore ipsum velit officia nulla anim magna est id elit irure qui dolor exercitation incididunt exercitation proident anim officia veniam reprehenderit laboris incididunt irure enim amet esse</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Info
*/

/*
Notice Card

Notice Cards are side notes usually associated with an action button.

Markup:
<div class="bg_primary-alt br_1  br_secondary-4 card info text_center">
 <h2 class="bg_tansparent br-b_0 br_secondary-4 c_primary-n2 card-header font_1 font_2:md font_3:lg font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg triangle_left">Notice Card</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
    <p>aliqua mollit consectetur labore ipsum velit officia nulla anim magna est id elit irure qui dolor exercitation incididunt exercitation proident anim officia veniam reprehenderit laboris incididunt irure enim amet esse</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-primary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Notice
*/

/*
Notice Card Alt

Notice Cards are side notes usually associated with an action button.

Markup:
<div class="bg_secondary-4 br_0   card info text_center">
 <h2 class="bg_tansparent br-b_0 br_accent-alt c_accent card-header font_1 font_2:md font_3:lg font_display p-b_3 p-x_3 p-x_3:md p-x_4:lg triangle_left">Notice Card</h2>
  <div class="card-body font_0 font_1:md font_ui lh_2 p-b_0 p-x_3 p-x_3:md p-x_4:lg p-y_0">
    <p>aliqua mollit consectetur labore ipsum velit officia nulla anim magna est id elit irure qui dolor exercitation incididunt exercitation proident anim officia veniam reprehenderit laboris incididunt irure enim amet esse</p>
  </div>
   <div class="bg_tansparent br-t_0 card-footer p-t_0 p-x_3 p-x_3:md p-x_4:lg"> <a href="#" class="btn btn-block btn-secondary font_0:md font_n1">Action</a></div>
</div>

Styleguide Recipes CVQualtiy.Cards.Notice Alt
*/

/*
Address Card

Decorated address card for accreditation

Markup:
<div class="bg_secondary-5 p_3 p_4:md">
	<address class="m-b_3 m-x_2 vcard">
		<h4 class="c_accent font_1 font_bold font_ui m-b_2 m-t_3">Questions About Accreditation?</h4>
		<div class="contact font_n1">
			<ul class="ul_none">
				<li><a href="mailto:" class="c_secondary-n3 email link">non@.org</a></li>
				<li><a href="tel:" class="c_secondary-n3 link tel">55-555-55555</a></li>
				<li><a href="fax:" class="c_secondary-n3 fax link">55-444-55555</a></li>
			</ul>
		</div>
		<h4 class="c_accent font_1 font_bold font_ui m-b_2 m-t_3">Office Hours:</h4>
		<div class="font_n1 openning-hours">
			<ul class="ul_none">
				<li><span class="time">8:00am - 4pm EST</span><br /></li>
				<li><span class="days">Monday - Firday</span></li>
				<li>
					<a href="blank.pdf" class="block c_secondary-n3 link"
						>Holiday Schedule &nbsp;<i class="fa-calendar far"></i
					></a>
				</li>
			</ul>
		</div>
		<h4 class="c_accent font_1 font_bold font_ui m-b_2 m-t_3">Mailing &amp; Shipping</h4>
		<span class=".org"></span>
		<ul class="ul_none adr">
			<li class="street-address">2400 N St. NW</li>
			<li>
				<span class="locality">Washington</span>,
				<span class="country-name"><abbr title="District of Colombia">DC</abbr></span>
				<span class="postal-code display_none">20006</span>
			</li>
		</ul>
		<nav class="nav-social-button mono-grey">
			<h4 class="c_accent font_1 font_bold font_ui m-b_2 m-t_3">Follow Us</h4>
			<ul class="flex m_0 social-bar ul_none">
				<li class="flex_shrink m-r_1">
					<a
						href="https://twitter.com/accintouch"
						target="_blank"
						class="bg_secondary-1 block br-bl_radius br-tl_radius c_secondary-5 h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0 twitter"
						><i class="fab fa-twitter-square"></i
					></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a
						href="https://www.facebook.com/AmericanCollegeofCardiology"
						target="_blank"
						class="facebook c_secondary-5 bg_secondary-1 block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"
						><i class="fab fa-facebook-square"></i
					></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a
						href="https://www.linkedin.com/company/american-college-of-cardiology/"
						target="_blank"
						class="linkedin c_secondary-5 bg_secondary-1 block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"
						><i class="fab fa-linkedin"></i
					></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a
						href="http://www.youtube.com/user/ACCinTouch"
						target="_blank"
						class="youtube c_secondary-5 bg_secondary-1 block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"
						><i class="fab fa-youtube"></i
					></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a
						href="https://play.google.com/store/apps/dev?id=5189912010956845696&amp;hl=en_US"
						target="_blank"
						class="google-play c_secondary-5 bg_secondary-1 block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"
						><i class="fab fa-google-play"></i
					></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a
						href="https://apps.apple.com/us/developer/american-college-of-cardiology/id502174543#see-all/i-phonei-pad-apps"
						target="_blank"
						class="apple-store bg_secondary-1 block br-br_radius br-tr_radius c_secondary-5 h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"
						><i class="fab fa-apple"></i
					></a>
				</li>
			</ul>
		</nav>
	</address>
</div>

Styleguide Recipes CVQualtiy.Cards.Address
*/

/* 
Score Card

The Score Box Generic is currently used on the Assessments Page. These repeated boxes are used to show the score with each section of the assessment.


Markup:
<div class="bg_secondary-5 box p-x_3 p-y_2 score">
     <h3>veniam quis veniam enim</h3>
     <div class="flex results-points">
         <span class="flex_auto points-possible"><span class="points-breakdown">(0 of 96 possible points)</span></span>
         <span class="c_accent flex_shrink font_2 points-total">0</span>
     </div>
</div>
<div class="m-t_3 overall-score">
    <span class="c_accent float_right font_n1 your-score-label">Your Score</span>
    <div class="br-t_2 br_secondary br_solid clear_both flex results-points">
        <span class="br-b_1 br_accent br_dashed flex_auto p-t_4 points-possible">
               <span class="c_accent font_2 font_bold font_ui m-b_n4 p_3 title">Overall Score</span> <span class="c_secondary-1 font_italic points-breakdown">(0 of 96 possible points)</span>
        </span>
        <span class="bg_accent br_secondary c_white flex_shrink font_1 p_3 points-total triangle_top">
            0%
        </span>
    </div>
</div>

Styleguide Recipes CVQualtiy.Cards.Score Card
*/

/* 
Date

Style a date marker


Markup:
<div class="br_3 br_primary br_solid event-date flex flex_column font_display lh_1 p-x_2 text_center">
  <span class="month font_2">May</span>
  <span class="day font_3 font_bold">12</span>
  <span class="bg_primary c_white-9 font_0 font_1 font_bold m-b_n2 m-x_n2 year">2018</span>
</div>

Styleguide Recipes CVQualtiy.Cards.Date
*/
/* 
Date

Style a date marker

Markup:
<div class="br_secondary-2 card event">
    <div class="bg_secondary-4 br-l_1 br-t_1 br_solid br_white-5 card-header flex">
            <div class="flex_shrink"><div class="bg_white br_3 br_primary br_solid event-date flex flex_column font_display lh_1 p-x_2 text_center">
  <span class="month font_2">May</span>
  <span class="day font_3 font_bold">12</span>
  <span class="bg_primary c_white-9 font_0 font_1 font_bold m-b_n2 m-x_n2 year">2018</span>
    </div></div>
            <div class="event-details flex_grow lh_1 p-l_4">
                <div class="c_accent-n1 font_2 m-b_2 title">voluptate anim consequat tempor adipisicing aliquip non do</div>
                <div class="c_primary font_0 font_bold location-title m-b_2">Grand Hayatt</div>
                <div class="c_secondary-n4 font_n1 location">Cincinnati, OH </div>
                <span class="font_italic font_n2 full-date p-r_3">May 12, 2018</span><span class="time font_italic font_n2 p-r_3"><span class="begin">8:00AM</span> - <span class="end">2:00PM</span> <span class="timezone">(EST)</span></span>
            </div>
    </div>
    <div class="card-body font_0 p-x_3 p-x_4:md p-y_3 p-y_4:md">
        <p>Eu dolore ullamco laboris veniam commodo pariatur pariatur proident ea. Esse in in nisi non eiusmod consequat pariatur officia mollit incididunt qui consectetur est. Ex aute non amet elit. Voluptate commodo minim sit Lorem occaecat sit aute reprehenderit. Dolore pariatur cupidatat velit anim enim veniam mollit aute fugiat magna do. Culpa non veniam non officia exercitation laborum dolor irure exercitation tempor adipisicing tempor elit nulla.</p>
    </div>
    <div class="bg_secondary-5 c_secondary-1 card-footer font_n1 text_center"><strong>Add to Calendar: </strong><a href="#" class="link">Outlook</a> | <a href="#" class="link">Google</a> | <a href="#" class="link">iCal</a></div>
    <div class="bg_secondary-5 br-t_0 card-footer p-t_0"><a href="#" class="bg_accent br_radius btn btn-accent btn-block c_white font_bold h:bg_accent-n2 h:shadow shadow_2">Register</a></div></div>

    Styleguide Recipes CVQualtiy.Cards.Date Event
*/
