/*
List

CVquatlity has some lists through out the design that go beyond basic lists. Below are collection of them and where they can be found. 


 Styleguide Recipes CVQualtiy.Lists
*/

/*
Map Result List

Result lists is the list view of all of the pins on the map


Markup:
<ul class="bg_secondary-2 font_ui result-list ul_none">
      <li class="address bg_secondary-4 br-r_4 br_solid br_white-0 h:bg_secondary-n2 h:br_accent h:c_accent-alt p_2 p_3:md p_4:lg relative transition_1">
         <div class="c_primary-n2 expanded-click-area font_1 h:c_white name">proident ad velit sit</div>
         <div class="address-line">sunt magna ea exercitation</div>
         <div class="address-line">nisi qui culpa labore</div>
      </li>
      <li class="address bg_secondary-4 br-r_4 br_solid br_white-0 h:bg_secondary-n2 h:br_accent h:c_accent-alt m-t_1 p_2 p_3:md p_4:lg relative transition_1">
         <div class="c_primary-n2 expanded-click-area font_1 h:c_white name">proident ad velit sit</div>
         <div class="address-line">sunt magna ea exercitation</div>
         <div class="address-line">nisi qui culpa labore</div>
      </li>
</ul>

 Styleguide Recipes CVQualtiy.Lists.Map
*/
