/**
 * arches - Global style system focused on utility classes
 * @version v1.0.0
 * @link https://github.com/MattWatier/Arches#readme
 */
/**  Pre Header - modular scale default break points utility    *********************************/
/** Utility Class Only With Basic ACC Branding **/
/**  ACC Brands    *********************************/
/**  Default Brands    *********************************/
/**  Colors  **/
/*

ACC's Blue

$acc-blue            - #00386b; acc

Styleguide DesignBase.Colors.ACC
*/
/*

Theme Colors 

Colors are based off of the ACC Scrub Colors.

$teal                - #198dae; primary
$grey-dark           - #676a72; secondary
$green-blue  	      - #16a385; accent
$grey-alt            - #a3988c; info
$purple              - #7742bd; highlight

Styleguide DesignBase.Colors
 */
/*

Action Colors  

Colors are based off of the ACC Scrub Colors.

$red                 - #dd1a1a; alert
$orange              - #da8210; warning
$green               - #06a022; success
$blue                - #2b58c0; navigation

Styleguide DesignBase.Colors.Actions

 */
/*

Color Coding  

Color Coding is used in specific products and concepts to illustrate cohesion and collections. All of these color codes are used universally through out the college and have an assoicated meaning. All of these colors are just used for reference and have no associated decorator classes.  You must include the the associated color-code_x.css have access to utlity classes that will color using the bellow colors. 

Styleguide DesignBase.Colors.ColorCoding

 */
/*

COR Colors  

(COR) Class of Recomendation is a color collect used in Guideline recomendations.

$cor-green                 	- #6fc284; I
$cor-yellow              	- #ffd44f; IIA
$cor-yellow-orange          - #faa74b; IIA
$cor-orange               	- #f15d4c;III and III-NoHarm
$cor-red               		- #ed1c00; III-harm

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.COR

 */
/*

LOE Colors  

(LOE) level of Evedence is a color collect used in Guideline recomendations.

$loe-dark-blue                 	- #3e6fb7;LOE A
$loe-mid-blue              		- #659cd3;LOE B-R
$loe-light-blue                	- #a1c1e6;LOE B-NR
$loe-pale-blue                	- #b5d5e5; LOE C

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.LOE

 */
/*

Credit Type Color Coding  

Credit Types in the ACC have a specific color coding.

$credit-CME         	-  #00a15b; CME   
$credit-ABP         	-  #007A5B; ABP   
$credit-COP         	-  #775891; COP   
$credit-CE         		-  #a8a8a8; CE   
$credit-MOCII         	-  #9a1267; MOCII   
$credit-MOCIV         	-  #D3248D; MOCIV   
$credit-CNE         	-  #198dae; CNE   
$credit-CNErx         	-  #52549E; CNErx   
$credit-ECME         	-  #D16528; ECME   
$credit-CPE         	-  #992E2E; CPE   

Weight: 0

Styleguide DesignBase.Colors.ColorCoding.Credits

*/
/*

Clinical Pathway Colors  

Each of the clinical pathways has a distinctive color.  These colors are used to give a distinct theme to our clinical apps, marketing, pdf's and tools.

$pathway-invasive-cardiology 							- #c8b02f;  Invasive Cardiology Angiography and Intervention
$pathway-congenital-heart-disease 						- #fdb918;  Congenital Heart Disease
$pathway-noninvasive-cardiology 						- #947b33;  Noninvasive Cardiology
$pathway-ecg-stress-test 								- #d9691f;  Standard ECG, Stress Test
$pathway-vascular-medicine 								- #ae171c;  Vascular Medicine
$pathway-pulmonary-hypertension 						- #d60e7e;  Pulmonary Hypertension and Venous Thromboembolic Disease
$pathway-prevention 									- #a01d51;  Prevention
$pathway-heart-failure 									- #410d49;  Heart Failure and Cardiomyopathies
$pathway-valvular-heart-disease 						- #4f4190;  Valvular Heart Disease
$pathway-arrthythmias-EP 								- #005b37;  Arrthythmias and Clinical EP
$pathway-preicardial 									- #0079ad;  Preicardial Disease
$pathway-acute-coronary-syndromes 						- #009974;  Acute Coronary Syndromes
$pathway-stable-ischemnic-heart-disease 				- #0f3e65;  Stable Ischemnic Heart Disease
$pathway-special 										- #00b6f1;  Special

Weight: -1

Styleguide DesignBase.Colors.ColorCoding.Pathways

*/
/**  Fonts  **/
/* Robto Slab Regular */
@font-face {
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format("woff2");
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Robto Slab Bold */
@font-face {
  font-display: swap;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v8/BngMUXZYTXPIvIBgJJSb6ufA5qW54A.woff2) format("woff2");
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* Maven PRo */
@font-face {
  src: local("Maven Pro Medium"), local("MavenPro-Medium"), url(https://fonts.gstatic.com/s/mavenpro/v11/7Au4p_AqnyWWAxW2Wk3OPkcdP3kD.woff2) format("woff2");
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Muli */
@font-face {
  src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v11/7Auwp_0qiz-afTLGLQ.woff2) format("woff2");
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*Muli */
@font-face {
  src: local("Muli ExtraBold"), local("Muli-ExtraBold"), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adZXgOCX2zw.woff2) format("woff2");
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Define the "system" font family */
@font-face {
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  font-family: system;
  font-style: normal;
  font-weight: 300;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  -webkit-locale: "en";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-break: white-space;
}

/**  Textures  **/
div[class^=texture_] {
  background-attachment: local;
  background-origin: border-box;
  background-position: top right;
  background-repeat: repeat;
}

/*
	Textures

	All textures in the Arches design are a subtle variation of transparent.   Allowing for colors to bleed through from behind.  Different textures have intentions or are reserved for certain usagaes. 

	.texture_light                       		- Light textures is reserved for the base of a page where it can gve a soft area for text or cards to live on top of. 
	.texture_medium            					- medium texture are used for area that are hidden away.  Collapsable navs, areas, or sidebars ususaly use the medium texture.
	.texture_dust            					- Dust is the most transparent texture allowing for the color of the background to show through the most.  This is used for the painted tops of cards, or score bars.
	.texture_dark              					- This texture predominatly used on the footer. Its rich black will alway requrie reversed text and buttons to be readable.  
	.texture_cross            					- A mostly transparent cross texture used for alternating rows of content when a little extra texture is needed.
	.texture_disabled              				- This texture is used to paint disabled buttons and ui items giving it a greyed and X'ed out appearand. 

	markup:
	<div class="{{modifier_class}} p_5 border-c_black-8 border-width_1 border_solid text_center bg_primary-4">{{modifier_class}} with a light primary color background</div>

	Styleguide DesignBase.Textures

 */
/**  Logos  **/
[class^=logo_],
[class^=seal_] {
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: none;
  background-size: contain;
  text-indent: -9999px;
}
[class^=logo_]:before,
[class^=seal_]:before {
  width: 1px;
  height: 0;
  margin-left: -1px;
  float: left;
  content: "";
}
[class^=logo_]:after,
[class^=seal_]:after {
  display: table;
  clear: both;
  content: "";
}
[class^=logo_] > .alt-text:before,
[class^=seal_] > .alt-text:before {
  display: none;
}

pre code.hljs {
  max-height: 100%;
  padding-top: 2em;
  padding-bottom: 2.5em;
}

/*# sourceMappingURL=maps/styleguide_override.css.map */
.kss-color {
  height: 160px;
}

.kss-section__markup > pre.language-markup {
  max-height: 20vh;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
}

.kss-section__markup > pre.language-markup::-webkit-scrollbar {
  width: 5.6px;
  width: 0.35rem;
  height: 5.6px;
  height: 0.35rem;
}

/* Track */
.kss-section__markup > pre.language-markup::-webkit-scrollbar-track {
  background-color: rgba(10, 56, 70, 0.1);
  box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
}

/* Handle */
.kss-section__markup > pre.language-markup::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #157894;
  box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
}

.kss-section__markup > pre.language-markup::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(21, 120, 148, 0.1);
}

.kss-section__markup > pre.language-markup::-webkit-scrollbar-track:window-inactive {
  background: rgba(10, 56, 70, 0.1);
}
/*# sourceMappingURL=maps/styleguide_override.css.map */
