/*
    RECIPE: Mobile Footer Nav

    Placed in applications used for navigation in mobile apps.

    markup:
    <div id="nav"class="bg_acc grid-x c_white shadow_3 font_2 small-12">
    <a href="#/"class="auto text-center p_2 cell center clear c_secondary-5 c_white hover-text_primary-4 m-bottom_0 router-link-exact-active router-link-active"><i class="fas m_2 fa-sign-out-alt"></i></a>
    <a href="#/search"class="auto text-center p_2 cell center clear c_secondary-5 c_white hover-text_primary-4 m-bottom_0"><i class="fas m_2 fa-search"></i></a>
    <a href="#/shared"class="auto text-center p_2 cell center clear c_secondary-5 c_white hover-text_primary-4 m-bottom_0"><span class="fa-layers fa-fw"><i class="fas m_2 fa-share-alt-square"></i></span></a
    ><a href="#/history"class="auto text-center p_2 cell center clear c_secondary-5 c_white hover-text_primary-4 m-bottom_0"><span class="fa-layers fa-fw"><i class="fas m_2 fa-history"></i></span></a>
    <a href="#/about"class="auto text-center p_2 cell center clear c_secondary-5 c_white hover-text_primary-4 m-bottom_0"><i class="fas m_2 fa-info-square"></i></a>
    </div>

    Styleguide 200.001
*/

/*
    RECIEPE: Button Group

    markup:
    <div class="button-group">
        <a class="button is-active primary"><i class="far icon-toggle_check"></i> One</a>
        <a class="button secondary"><i class="far icon-toggle_check"></i> Two</a>
        <a class="button secondary"><i class="far icon-toggle_check"></i> Three</a>
    </div>

    Styleguide 200.002
*/
