$acc-blue: #004176 !default;
/*

ACC's Blue

$acc-blue            -  #{$acc-blue}; acc

Styleguide DesignBase.Colors.ACC
*/

$teal: #198dae !default;
$green-blue: #24ccae !default;
$dark-grey: #676a72 !default;
$alt-grey: #a3988c !default;
$green: #06a022 !default;
$orange: #da8210 !default;
$red: #dd1a1a !default;
$blue: #2b58c0 !default;
$purple: #976ad2 !default;
$magenta: #c34198 !default;

$white: rgb(255, 255, 255) !default;
$black: rgb(19, 18, 18) !default;

// Currently Un used in the design but part of bootstrap.
$indigo: #6610f2 !default;
$pink: #e83e8c !default;
$yellow: #ffc107 !default;
$cyan: #17a2b8 !default;

$theme-palette: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-palette: map-merge(
	(
		primary: $teal,
		secondary: $dark-grey,
		success: $green,
		warning: $orange,
		alert: $red,
		navigation: $blue,
		accent: $magenta,
		info: $alt-grey,
		highlight: $purple,
		acc: $acc-blue
	),
	$theme-palette
);

%hover-text-white {
	color: $white !important;
}

%hover-text-black {
	color: $black !important;
}

/*

Theme Colors 

Colors are based off of the ACC Scrub Colors.

map-get($theme-palette, primary)              -  #{ map-get($theme-palette, primary)}; primary
map-get($theme-palette, secondary)            -  #{ map-get($theme-palette, secondary)}; secondary
map-get($theme-palette, accent)               -  #{ map-get($theme-palette, accent)};  accent
map-get($theme-palette, info)                 -  #{ map-get($theme-palette, info)}; info
map-get($theme-palette, highlight)            -  #{ map-get($theme-palette, highlight)}; highlight

Styleguide DesignBase.Colors
 */

/*

Action Colors  

Actionable colors used to respond to user inputs and messaging.

map-get($theme-palette, alert)                -  #{ map-get($theme-palette, alert)}; alert
map-get($theme-palette, warning)              -  #{ map-get($theme-palette, warning)}; warning
map-get($theme-palette, success)               -  #{ map-get($theme-palette, success)};  success
map-get($theme-palette, navigation)           -  #{ map-get($theme-palette, navigation)}; navigation

Styleguide DesignBase.Colors.Actions
*/

// Other Color Collections from the college

/*

Color Coding  

Color Coding is used in specific products and concepts to illustrate cohesion and collections. All of these color codes are used universally through out the college and have an assoicated meaning. All of these colors are just used for reference and have no associated decorator classes.  You must include the the associated color-code_x.css have access to utlity classes that will color using the bellow colors. 

Styleguide DesignBase.Colors.ColorCoding

 */

$cor-green: #6fc284;
$cor-yellow: #ffd44f;
$cor-yellow-orange: #faa74b;
$cor-orange: #f15d4c;
$cor-red: #ed1c00;

$COR: () !default;

$COR: map-merge(
	(
		I: $cor-green,
		IIA: $cor-yellow,
		IIB: $cor-yellow-orange,
		III: $cor-orange,
		III-NOBENIFIT: $cor-orange,
		III-HARM: $cor-red
	),
	$COR
);
/*

COR Colors  

(COR) Class of Recomendation is a color collect used in Guideline recomendations.

$cor-green                 	- #{$cor-green}; I
$cor-yellow              	- #{$cor-yellow}; IIA
$cor-yellow-orange          - #{$cor-yellow-orange}; IIA
$cor-orange               	- #{$cor-orange};III and III-NoHarm
$cor-red               		- #{$cor-red}; III-harm

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.COR

 */
$loe-dark-blue: rgb(62, 111, 183);
$loe-mid-blue: rgb(101, 156, 211);
$loe-light-blue: rgb(161, 193, 230);
$loe-pale-blue: rgb(181, 213, 229);
$LOE: () !default;
$LOE: map-merge(
	(
		A: $loe-dark-blue,
		B-NR: $loe-mid-blue,
		B-BR: $loe-light-blue,
		C-LD: $loe-pale-blue,
		C-EO: $loe-pale-blue
	),
	$LOE
);

/*

LOE Colors  

(LOE) level of Evedence is a color collect used in Guideline recomendations.

$loe-dark-blue                 	- #{$loe-dark-blue};LOE A
$loe-mid-blue              		- #{$loe-mid-blue };LOE B-R
$loe-light-blue                	- #{$loe-light-blue };LOE B-NR
$loe-pale-blue                	- #{$loe-pale-blue }; LOE C

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.LOE

 */

$credit-CME: #00a15b;
$credit-ABP: #007a5b;
$credit-COP: #775891;
$credit-CE: #a8a8a8;
$credit-MOCII: #9a1267;
$credit-MOCIV: #d3248d;
$credit-CNE: #198dae;
$credit-CNErx: #52549e;
$credit-ECME: #d16528;
$credit-CPE: #992e2e;

$CreditColors: () !default;
$CreditColors: map-merge(
	(
		CME: $credit-CME,
		ABP: $credit-ABP,
		COP: $credit-COP,
		CE: $credit-CE,
		MOCII: $credit-MOCII,
		MOCIV: $credit-MOCIV,
		CNE: $credit-CNE,
		CNErx: $credit-CNErx,
		ECME: $credit-ECME,
		CPE: $credit-CPE
	),
	$CreditColors
);

/*

Credit Type Color Coding  

Credit Types in the ACC have a specific color coding.

$credit-CME         	-  #00a15b; CME   
$credit-ABP         	-  #007A5B; ABP   
$credit-COP         	-  #775891; COP   
$credit-CE         		-  #a8a8a8; CE   
$credit-MOCII         	-  #9a1267; MOCII   
$credit-MOCIV         	-  #D3248D; MOCIV   
$credit-CNE         	-  #198dae; CNE   
$credit-CNErx         	-  #52549E; CNErx   
$credit-ECME         	-  #D16528; ECME   
$credit-CPE         	-  #992E2E; CPE   

Weight: 0

Styleguide DesignBase.Colors.ColorCoding.Credits

*/

$pathway-invasive-cardiology: #c8b02f;
$pathway-congenital-heart-disease: #fdb918;
$pathway-noninvasive-cardiology: #947b33;
$pathway-ecg-stress-test: #d9691f;
$pathway-vascular-medicine: #ae171c;
$pathway-pulmonary-hypertension: #d60e7e;
$pathway-prevention: #a01d51;
$pathway-heart-failure: #410d49;
$pathway-valvular-heart-disease: #4f4190;
$pathway-arrthythmias-EP: #005b37;
$pathway-preicardial: #0079ad;
$pathway-acute-coronary-syndromes: #009974;
$pathway-stable-ischemnic-heart-disease: #0f3e65;
$pathway-special: #00b6f1;

$PathwayColors: () !default;
$PathwayColors: map-merge(
	(
		invasive: $pathway-invasive-cardiology,
		congenital: $pathway-congenital-heart-disease,
		noninvasive: $pathway-noninvasive-cardiology,
		ecg: $pathway-ecg-stress-test,
		vascular: $pathway-vascular-medicine,
		pulmonary: $pathway-pulmonary-hypertension,
		prevention: $pathway-prevention,
		hf: $pathway-heart-failure,
		valvular: $pathway-valvular-heart-disease,
		arrthythmias: $pathway-arrthythmias-EP,
		preicardial: $pathway-preicardial,
		acute: $pathway-acute-coronary-syndromes,
		ischemnic: $pathway-stable-ischemnic-heart-disease,
		special: $pathway-special
	),
	$PathwayColors
);

/*

Clinical Pathway Colors  

Each of the clinical pathways has a distinctive color.  These colors are used to give a distinct theme to our clinical apps, marketing, pdf's and tools.

$pathway-invasive-cardiology 							- #{$pathway-invasive-cardiology};  Invasive Cardiology Angiography and Intervention
$pathway-congenital-heart-disease 						- #{$pathway-congenital-heart-disease};  Congenital Heart Disease
$pathway-noninvasive-cardiology 						- #{$pathway-noninvasive-cardiology};  Noninvasive Cardiology
$pathway-ecg-stress-test 								- #{$pathway-ecg-stress-test};  Standard ECG, Stress Test
$pathway-vascular-medicine 								- #{$pathway-vascular-medicine};  Vascular Medicine
$pathway-pulmonary-hypertension 						- #{$pathway-pulmonary-hypertension};  Pulmonary Hypertension and Venous Thromboembolic Disease
$pathway-prevention 									- #{$pathway-prevention};  Prevention
$pathway-heart-failure 									- #{$pathway-heart-failure};  Heart Failure and Cardiomyopathies
$pathway-valvular-heart-disease 						- #{$pathway-valvular-heart-disease};  Valvular Heart Disease
$pathway-arrthythmias-EP 								- #{$pathway-arrthythmias-EP};  Arrthythmias and Clinical EP
$pathway-preicardial 									- #{$pathway-preicardial};  Preicardial Disease
$pathway-acute-coronary-syndromes 						- #{$pathway-acute-coronary-syndromes};  Acute Coronary Syndromes
$pathway-stable-ischemnic-heart-disease 				- #{$pathway-stable-ischemnic-heart-disease};  Stable Ischemnic Heart Disease
$pathway-special 										- #{$pathway-special};  Special

Weight: -1

Styleguide DesignBase.Colors.ColorCoding.Pathways

*/

$twitter: #00aced;
$facebook: #3b5998;
$linkedin: #0077b5;
$apple-store: #ea4cc0;
$google-play: #ef6c00;
$youtube: #bb0000;

.twitter {
	background-color: $twitter !important;
}

.facebook {
	background-color: $facebook !important;
}

.linkedin {
	background-color: $linkedin !important;
}

.google-play {
	background-color: $google-play !important;
}

.apple-store {
	background-color: $apple-store !important;
}
.youtube {
	background-color: $youtube !important;
}

/*

Clinical Pathway Colors  

Each of the clinical pathways has a distinctive color.  These colors are used to give a distinct theme to our clinical apps, marketing, pdf's and tools.

$twitter            -   #00aced;  twitter     
$facebook           -   #3b5998;  facebook    
$linkedin           -   #007bb6;  linkedin    
$apple-store        -   #ea4cc0;  apple-store 
$google-play        -   #689f38;  google-play 
$youtube            -   #bb0000;  youtube     


Weight: 100

Styleguide DesignBase.Colors.Social Networks

*/
