$teal: #198dae !default;
$green-blue: #16a385 !default;
$dark-grey: #676a72 !default;
$alt-grey: #a3988c !default;
$green: #078a2e !default;
$orange: #da8210 !default;
$red: #dd1a1a !default;
$blue: #2b58c0 !default;
$purple: #7742bd !default;
$magenta: #c34198 !default;
$acc-blue: #004176 !default;
$white: rgb(246, 246, 246) !default;
$black: rgb(19, 18, 18) !default;

$theme-palette: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-palette: map-merge(
	(
		primary: $teal,
		secondary: $dark-grey,
		success: $green,
		warning: $orange,
		alert: $red,
		navigation: $blue,
		accent: $green-blue,
		info: $alt-grey,
		highlight: $purple,
		acc: $acc-blue
	),
	$theme-palette
);

%hover-text-white {
	color: $white !important;
}

%hover-text-black {
	color: $black !important;
}
/*
 
Colors of the Design  

Colors are based off of the ACC Scrub Colors.
  


$teal    -      #198dae;  primary
$grey-dark    -      #676a72;  secondary
$green-blue    -      #16a385;  accent
$grey-alt    -      #a3988c;  info
$purple    -      #7742bd;  highlight
$red    -      #dd1a1a;  alert
$orange    -      #da8210;  warning
$green    -      #078a2e;  success
$blue    -      #2b58c0;  navigation
$acc-blue    -      #00386b;  acc



Styleguide 0.4.0
 
 */
