/*
 
  Colors of the Design  

  Arches color is based off of the ACC Scrub Colors  

  bg_primary                  - Scrub Teal used for primary colors often this color is swapped out for the product color of the product. This color can be found on most UI items. 
  bg_secondary                - Grey used secondary colors and secondary actions
  bg_navigation               - Scrub Blue reserved for navigation items. IE next, previous, forard, back buttons. 
  bg_info                     - Scrub Magenta for information 
  bg_highlight                - Scrub Purple used for highlighting 
  bg_success                  - Action color for Success and Complete
  bg_warning                  - Action color for warnings
  bg_alert                    - Action colors for alerts and errors
  bg_acc                      - ACC Blue
  bg_accent                   - life is better with a bit of purple
  
  markup:
  <div class="{{modifier_class}} cell auto text-center c_white p_2">{{modifier_class}}</div>  

  Styleguide 0.4.0
 
 */
