/**
 * arches - Global style system focused on utility classes
 * @version v1.0.0
 * @link https://github.com/MattWatier/Arches#readme
 */
$debug-trace: false !default;
$name-mode: "SHORT" !default; // $name-mode: "SHORT","LONG","ALL"
$ms-base: 1rem !default; // needs to be in rem's
@import "helpers/helpers";
@import "vendor/modular-scale";
@import "config/config";
@import "config/vars";
@import "config/colors";
@import "config/fonts";
@import "config/textures";
@import "config/logo";

@import "config/utility-css-definitions";
@import "helpers/breakpoint";
/** Utility Class Only With Basic ACC Branding **//* ACC BRAND This Should happen before Framework Setups*/
/*Zurb Foundation Framework Setup Files.*/
@import "../../node_modules/foundation-sites/scss/util/util";
@import "config/__zurb.settings";
@import "../../node_modules/foundation-sites/scss/foundation.scss";
@include foundation-everything();
/*ACC Branding*/
// ACC Design Alterations
@import "base/base";

@import "components/icon-toggle";
@import "components/scrollbar";
@import "components/loading-grid";
@import "components/interactive-extras";
@import "components/zurb.buttons";
@import "components/zurb.close-button.override";
@import "components/zurb.tabs.override";
@import "components/zurb.questions";
@import "components/zurb.pagination.override";

@import "styleguide/styleguide";
@import "structures/structures";
@import "utility-css/utility-css";
@import "reciepes/reciepes";
//StyleGuide
