/**
 * arches - Global style system focused on utility classes
 * @version v1.0.0
 * @link https://github.com/MattWatier/Arches#readme
 */
/**  Pre Header - modular scale default break points utility    *********************************/
$debug-trace: false !default;
$name-mode: "SHORT" !default; // $name-mode: "SHORT","LONG","ALL"
$ms-base: 1rem !default; // needs to be in rem's
$colors: ();
$grays: ();
$theme-palette: ();
@import "helpers/helpers";
@import "vendor/modular-scale";
@import "config/utility-css.vars";
@import "helpers/breakpoint";
/** Utility Class Only With Basic ACC Branding **//**  ACC Brands    *********************************/
$teal: #198dae;
$green-blue: #16a385;
$dark-grey: #676a72;
$alt-grey: #a3988c;
$green: #078a2e;
$orange: #da8210;
$red: #dd1a1a;
$blue: #2b58c0;
$purple: #7742bd;
$magenta: #c34198;
$acc-blue: #00386b;
$white: rgb(255, 255, 255);
$black: rgb(19, 18, 18);
$real-black: #000;

$gray-100: mix($white, $black, 10%);
$gray-200: mix($white, $black, 20%);
$gray-300: mix($white, $black, 30%);
$gray-400: mix($white, $black, 40%);
$gray-500: mix($white, $black, 50%);
$gray-600: mix($white, $black, 60%);
$gray-700: mix($white, $black, 70%);
$gray-800: mix($white, $black, 80%);
$gray-900: mix($white, $black, 90%);

// Currently Un used in the design but part of bootstrap.
$indigo: #6610f2;
$pink: #e83e8c;
$yellow: #ffc107;
$cyan: #17a2b8;

$theme-palette: map-merge(
	(
		primary: $teal,
		secondary: $dark-grey,
		success: $green,
		warning: $orange,
		alert: $red,
		navigation: $blue,
		accent: $green-blue,
		info: $alt-grey,
		highlight: $purple,
		acc: $acc-blue
	),
	$theme-palette
);

$grays: map-merge(
	(
		"100": $gray-100,
		"200": $gray-200,
		"300": $gray-300,
		"400": $gray-400,
		"500": $gray-500,
		"600": $gray-600,
		"700": $gray-700,
		"800": $gray-800,
		"900": $gray-900
	),
	$grays
);
$colors: map-merge(
	(
		"blue": $blue,
		"indigo": $indigo,
		"purple": $purple,
		"pink": $pink,
		"red": $red,
		"orange": $orange,
		"yellow": $yellow,
		"green": $green,
		"teal": $teal,
		"cyan": $cyan,
		"white": $white,
		"gray": $gray-600,
		"gray-dark": $gray-800
	),
	$colors
);

$fonts: (
	slab: (
		name: "Roboto Slab",
		stack: '"Roboto Slab","Times New Roman","Lucida Bright",Georgia,serif, "slab"'
	),
	display: (
		name: "Maven Pro",
		stack: '"Maven Pro","Muli","Open Sans","system",sans-serif'
	),
	copy: (
		name: "Muli",
		stack: '"Muli","Open Sans","system",sans-serif'
	),
	ui: (
		name: "Open Sans",
		stack: '"Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif'
	)
);

// Reset Values of Utlity-css.vars.scss
$value-to-unit: map-deep-set($value-to-unit, "font-family" "slab", map-deep-get($fonts, "slab", "stack"));
$value-to-unit: map-deep-set($value-to-unit, "font-family" "display", map-deep-get($fonts, "display", "stack"));
$value-to-unit: map-deep-set($value-to-unit, "font-family" "copy", map-deep-get($fonts, "copy", "stack"));

$global-radus-on: false;
$global-border-radius: 6px;
$global-border-round: 25px;
$basicSizeMultiplier: 1rem;
/**  Default Brands    *********************************/
/**  Colors  **/
@import "config/colors";
/**  Fonts  **/
@import "config/fonts";
/**  Textures  **/
@import "config/textures";
/**  Logos  **/
@import "config/logo";
/**  Zurb Foundation Framework Setup Files. ***************************************/
@import "../../node_modules/foundation-sites/scss/util/util";
@import "config/__config.zurb";
@import "../../node_modules/foundation-sites/scss/foundation.scss";
@include foundation-everything();
// ACC Design Alterations
@import "base/base";
@import "components/logo";

@import "components/interactive-extras";
@import "components/lorem-placeholders";
@import "components/icon-toggle";
@import "components/loading-grid";
@import "components/scrollbar";
@import "components/social-nav";

@import "styleguide/styleguide";
@import "styleguide/__basic-html.base";
@import "structures/structures";
@import "base/table.zurb";
@import "components/zurb/zurb.buttons";
@import "components/zurb/zurb.close-button.override";
@import "components/zurb/zurb.tabs.override";
@import "components/zurb/zurb.questions";
@import "components/zurb/zurb.pagination.override";
@import "styleguide/__basic-html.zurb";
/*
	Foudation Zurb Recipes

	Combination of UCs and Base Components from the Framework can make an infinate amount of alterations to designs and layouts. Bellow are some alteratoins to Foudations Components with the Utiltity Classes. 

	Styleguide Recipes

*/
/* Styleguide recipes.zurb */

@import "recipes/_zurb.cards";
@import "recipes/grid_button_splash";
/*
	recipe: Button Group

	markup:
	<div class="button-group">
		<a class="button is-active primary"><i class="far icon-toggle_check"></i> One</a>
		<a class="button secondary"><i class="far icon-toggle_check"></i> Two</a>
		<a class="button secondary"><i class="far icon-toggle_check"></i> Three</a>
	</div>

	Styleguide Recipe.Zurb.button group
*/
/*
    RECIPE: Accordians

    Accordions are elements that help you organize and navigate multiple documents in a single container. They can be used for switching between items in the container.

    markup: 
    <ul class="accordion" data-accordion>
        <li class="accordion-item is-active" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title font_1 font_slab hover:bg_primary-4"><i class="fas icon-toggle_plus-minus fa-fw"></i> Accordion 1</a>
            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#"class="accordion-title  font_1 font_slab hover:bg_primary-4"><i class="fas icon-toggle_plus-minus fa-fw"></i>Accordion 2</a>
            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
            <div class="accordion-content" data-tab-content>
                <p>Panel 1. Lorem ipsum dolor</p>
                <a href="#">Nowhere to Go</a>
            </div>
        </li>
    </ul>

    Styleguide Recipe.Zurb.Accordians

*/
/**  Utility Classes    *********************************/
@import "utility-css/utility-css";

/**  No Framework Recipes    *********************************/
@import "recipes/__recipes.base";
