/*
    Guideline Result

    Section Results from the guideline search tool can have variations of content type but the shells have the basic content layout. 

    section - basic layout of a result which returns a paragraph as a result


    markup:
    <div class="p_5 p-y_4 bg_secondary-3 texture_medium">
    <article class="result {{modifier_class}} grid-container br_solid br_1 br_secondary-3 bg_white p_3">
        <header class="flex font_1 font_display">
            <div class="flex_auto result-title overflow-ellipsis nowrap font_2 wrap">
                <span class="c_secondary-n5 font_slab"><span class="c_acc font_bold p-r_3">5.1</span>Genetic Predisposition</span><br>
                <span class="font_italic c_secondary-3 font_n1">{{modifier_class}}</span>
            </div>
            <div class="felx_shrink flex m-l_3 font_bold">
                  <div class="felx_shrink flex m-l_3 font_bold"><div class="flex_auto bg_loe-B-BR-0 bg_primary-2 p-x_3 p-y_1">B-BR</div><div class="flex_auto bg_cor-IIA p-x_3 p-y_1">II</div></div>
            </div>
        </header>
        <nav class="flex font_n2 none">
            <a href="#saveToLibrary" class="felx_shrink bg_primary_5 link-fulldoc m-r_1 p-y_1 p-x_2 br_primary-5 c_secondary-n3 hover:c_white hover:bg_primary br_solid br_secondary-3 br_1 br_radius"><i
                    class="fas fa-save m-r_3"></i><span>SAVE</span></a>
            <a href="#shareResult" class="felx_shrink bg_primary_5 link-pdf m-x_1 p-y_1 p-x_2 br_primary-5 c_secondary-n3 hover:c_white hover:bg_primary br_solid br_secondary-3 br_1 br_radius"><i
                    class="fas fa-file-pdf m-r_3"></i><span>SHARE</span></a>
            <a href="#printResult" class="felx_shrink bg_primary_5 link-hub m-x_1 p-y_1 p-x_2 br_primary-5 c_secondary-n3 hover:c_white hover:bg_primary br_solid br_secondary-3 br_1 br_radius"><i
                    class="fas fa-print m-r_3"></i><span>PRINT</span></a>
        </nav>
        <main class="result-content p_3 p-y_4 font_0">
            <section id="sec22.1">  
        		<p id="p2145">Hypertension is a complex polygenic disorder in which many genes or gene combinations influenceBP<a class="inline-reference" href="#bib200">[1]</a>,&nbsp;<a class="inline-reference"	href="#bib201">[2]</a>. Although several monogenic forms of hypertension have been identified, such asglucocorticoid-remediable aldosteronism, Liddle’s syndrome, Gordon’s syndrome, and others in whichsingle-gene mutations fully explain the pathophysiology of hypertension, these disorders are rare<a	class="inline-reference" href="#bib202">(S5.1-3)</a>. The current tabulation of known genetic variantscontributing to BP and hypertension includes more than 25 rare mutations and 120 single-nucleotidepolymorphisms<a class="inline-reference" href="#bib202">[1]</a>,&nbsp;<a class="inline-reference"	href="#bib203">[2]</a>. However, even with the discovery of multiple single-nucleotide polymorphismsinfluencing control of BP since completion of the Human Genome Project in 2003, the associated variants haveonly small effects. Indeed, at present, the collective effect of all BP loci identified through genome-wideassociation studies accounts for only about 3.5% of BP variability<a class="inline-reference"	href="#bib203">(S5.1-4)</a>. The presence of a high number of small-effect alleles associated withhigher BP results in a more rapid increase in BP with age<a class="inline-reference"	href="#bib204">(S5.1-5)</a>. Future studies will need to better elucidate genetic expression, epigeneticeffects, transcriptomics, and proteomics that link genotypes with underlying pathophysiological mechanisms.</p>
	</section>
        </main>
        <footer class="result-docuemnt br-t_1 br_0 br_solid br_acc-3 p-t_2 is-active bg_secondary-5 m-x_n3 p-x_4 p-y_2">
            <div class="clear-fix overflow_ellipsis document-title overflow-ellipsis font_slab c_acc-1 nowrap font_n1">
               <i class="fas icon-toggle_chevron-up-down"></i> International Organization for Standardization. (2016). Occupational health and safety management systems—Requirements
                with Heart
            </div>
            <div class="result-document-publish-date font_n2 c_secondary">Focused Update: March 15, 2018</div>
            <nav class="flex font_n1">
                <a href="#fulldoc" class="felx_shrink link-fulldoc m-r_3 p-y_2 c_secondary-n3 hover:c_primary"><i class="fas fa-share-square m-r_3"></i><span>FULL DOC</span></a>
                <a href="#pdfdownload" class="felx_shrink link-pdf m-x_3 p-y_2 c_secondary-n3 hover:c_primary"><i class="fas fa-file-pdf m-r_3"></i><span>PDF</span></a>
                <a href="#hublink" class="felx_shrink link-hub m-x_3 p-y_2 c_secondary-n3 hover:c_primary"><i class="fas fa-share-alt m-r_3"></i><span>HUB</span></a>
            </nav>
        </footer>
        <aside class="bg_secondary-4 m-x_n3 m-b_n3 p_2">
            <div class="flex font_n2 c_secondary-1  p_2 p-x_4">
                <strong class="felx_shrink c_secondary"><i class="fas fa-quote"></i>cite document:&nbsp;</strong>
                <span class="flex_auto overflow-ellipsis nowrap">International Organization for Standardization. (2016). Occupational health and safety management systems—Requirements with Heart</span>
            </div>
        </aside>
    </article>
</div>
        
    Styleguide Recipe.Guideline.Result
*/

/*
    RECIPE: Guidline Section

    Results from the guideline search tool can have variations of content type but the shells have the basic content layout. 


    markup:
    <div class="p_5 p-t_3 p-b_3 bg_secondary-5">
        <article class="result {{modifier_class}} grid-container br_solid br_1 br_secondary-3 bg_white p_3">
            <header class="flex font_1 font_display">
                <div class="flex_auto result-title overflow-ellipsis nowrap font_1 wrap">
                    <span class="c_acc font_slab">Result Title</span>
                    <span class="font_italic c_secondary-3 font_n1">{{modifier_class}}</span>
                </div>
                <div class="felx_shrink flex m-l_3 font_bold">
                      <div class="felx_shrink flex m-l_3 font_bold"><div class="flex_auto bg_loe-B-BR-0 bg_primary-2 p-x_3 p-y_1">B-BR</div><div class="flex_auto bg_cor-IIA p-x_3 p-y_1">II</div></div>
                </div>
            </header>
            <nav class="flex font_n2">
                <a href="#saveToLibrary" class="felx_shrink bg_primary_5 link-fulldoc m-r_1 p-y_1 p-x_2 br_primary-5 c_secondary-n3 hover:c_white hover:bg_primary br_solid br_secondary-3 br_1 br_radius"><i
                        class="fas fa-save m-r_3"></i><span>SAVE</span></a>
                <a href="#shareResult" class="felx_shrink bg_primary_5 link-pdf m-x_1 p-y_1 p-x_2 br_primary-5 c_secondary-n3 hover:c_white hover:bg_primary br_solid br_secondary-3 br_1 br_radius"><i
                        class="fas fa-file-pdf m-r_3"></i><span>SHARE</span></a>
                <a href="#printResult" class="felx_shrink bg_primary_5 link-hub m-x_1 p-y_1 p-x_2 br_primary-5 c_secondary-n3 hover:c_white hover:bg_primary br_solid br_secondary-3 br_1 br_radius"><i
                        class="fas fa-print m-r_3"></i><span>PRINT</span></a>
            </nav>
            <main class="result-content p-y_2">
                <p class="lh_3 font_0 m-b_0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aperiam alias explicabo impedit eius, ducimus nihil animi sapiente placeat ullam sequi, hic quod <span class="bg_highlight-4 c_highlight-n4  underline p-x_2">expedita laboriosam</span>, dolor et. Maiores, illum animi!</p>
            </main>
            <footer class="result-docuemnt br-t_1 br_0 br_dashed br_acc-3 p-t_2 is-active">
                <div class="clear-fix document-title overflow-ellipsis font_slab c_acc-1 nowrap font_n1">
                <i class="fas icon-toggle_chevron-up-down"></i> International Organization for Standardization. (2016). Occupational health and safety management systems—Requirements
                    with Heart
                </div>
                <div class="result-document-publish-date font_n2 c_secondary">Focused Update: March 15, 2018</div>
                <nav class="flex font_n2">
                    <a href="#fulldoc" class="felx_shrink link-fulldoc m-r_3 p-y_2 c_secondary-n3 hover:c_primary"><i class="fas fa-share-square m-r_3"></i><span>FULL DOC</span></a>
                    <a href="#pdfdownload" class="felx_shrink link-pdf m-x_3 p-y_2 c_secondary-n3 hover:c_primary"><i class="fas fa-file-pdf m-r_3"></i><span>PDF</span></a>
                    <a href="#hublink" class="felx_shrink link-hub m-x_3 p-y_2 c_secondary-n3 hover:c_primary"><i class="fas fa-share-alt m-r_3"></i><span>HUB</span></a>
                </nav>
            </footer>
            <aside class="bg_secondary-4 m-x_n3 m-b_n3 p_2">
                <div class="flex font_n3 c_secondary-1  p_1 p-x_3">
                    <strong class="felx_shrink c_secondary"><i class="fas fa-quote"></i>cite document:&nbsp;</strong>
                    <span class="flex_auto overflow-ellipsis nowrap">International Organization for Standardization. (2016). Occupational health and safety management systems—Requirements with Heart</span>
                </div>
            </aside>
        </article>
    </div>
        
    Styleguide Recipe.Guideline.ResultAlt
*/
