/*
    Footer


    This defines the web footer 

    Markup:
        <div class="footer">
    <div class="p-t_3 p-b_3 p_4 flex br_0 br-t_3  br_solid br_secondary-n1 c_secondary-1 texture_light bg_secondary-1">
        <div class="logo_condensed max-w_1"><span class="alt">logo_condensed-alt max-w_1</span></div>
    </div>
    <div class="flex justify_between p_4 p_5-large texture_dark" style="
">
        <div class="flex_auto max-w_3 p-l_4:md p-r_5:md">
            <!-- Address -->
            <section class="address c_white">
                <h3 class="font_slab font_1 m-b_0 font_normal font_regular">American College of Cardiology</h3>
                <address>
                    <!-- http://microformats.org/wiki/hcard -->
                    <h4 class="m-b_0 font_bold font_copy font_normal font_1 m-t_4">Heart House</h4>
                    <div class="flex font_copy font_0">
                    <div class="flex_shrink p-r_5 m-r_5">
                        <ul class="ul_none  lh_2">
                            <li class="m-b_1 m-b_3:md font_normal">
                                <span class="street-address">2400 N. St. NW</span>
                            </li>
                            <li class="m-b_1 m-b_3:md font_normal">
                                <span class="locality ">Washington</span>,
                                <span class="city-name ">
                            <abbr title="District of Colombia">DC</abbr>
                            </span>
                                <span class="postal-code">20037</span>
                            </li>
                            <li class="m-b_1 m-b_3:md font_normal">
                                <a href="mailto:resource@acc.org" class="email c_white text_underline  h:c_white ">
                                    <strong class="p-r_2 inline block:md inline:lg">Email:</strong>
                                    <span class="inline block:md inline:lg">resource@acc.org</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex_auto grid-w_6">
                    <ul class="ul_none lh_2">
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a tel="+12023756000" href="tel:+12023756000" class="tel c_white h:c_white h:underline">
                            <strong class="p-r_2 block:md inline:lg">Phone:</strong><span class=" block:md inline:lg">(202) 375-6000, ext. 5603</span></a>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a tel="+18002574737" href="tel:+18002534636.5603" class="tel c_white h:c_white h:underline">
                            <strong class="p-r_2 block:md inline:lg">Toll Free:</strong><span class=" block:md inline:lg">(800) 253-4636, ext. 5603</span></a>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a fax="+12023757000" href="fax:+12023757000" class="fax c_white h:c_white h:underline">
                            <strong class="p-r_2 block:md inline:lg">Fax:</strong>
                            <span class="block:md inline:lg">(202) 375-7000</span>
                            </a>
                        </li>
                    </ul>
                    </div>
                    </div>
                </address>
            </section>
            <!-- /Address -->
            <!-- Social -->
            <h4 class="font_slab c_white font_regular">Stay Connected</h4>
            <ul class="flex social-bar ul_none c_white h:c_white m_0">
                <li class="flex_auto m-r_2"><a href="https://twitter.com/accintouch" target="_blank" class="twitter social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center opacity_6 h:opacity"><i class="fab fa-twitter-square"></i></a></li>
                <li class="flex_auto m-r_2"><a href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank" class="facebook social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center opacity_6 h:opacity"><i class="fab fa-facebook-square"></i></a></li>
                <li class="flex_auto m-r_2"><a href="http://www.youtube.com/user/ACCinTouch" target="_blank" class="youtube social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center opacity_6 h:opacity"><i class="fab fa-youtube"></i></a></li>
                <li class="flex_auto m-r_2"><a href="https://play.google.com/store/apps/dev?id=5189912010956845696&amp;hl=en_US" target="_blank" class="google-play social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center opacity_6 h:opacity"><i class="fab fa-google-play"></i></a></li>
                <li class="flex_auto m-r_2"><a href="https://apps.apple.com/us/developer/american-college-of-cardiology/id502174543#see-all/i-phonei-pad-apps" target="_blank" class="apple-store social-bar--button block m-b_0 p_3 c_white-8 h:c_white text_center opacity_6 h:opacity"><i class="fab fa-apple"></i></a></li>
            </ul>
            <!-- Social -->
        </div>
        <div class="flex_shrink p-l_4:md p-r_4:md self_end">
            <!-- Footer External Links -->
            <section class="acc-websites c_white max-w_1 p-x_3 row">
                <h3 class="font_regular font_slab w_100">Improving Cardiovascular Care</h3>
                <nav class="block clearfix font_copy w_100">
                    <ul class="ul_none lh_2 font_0">
                        <li class="c_white br_solid  br_0 br-b_1  br_white-5">
                            <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.acc.org">
                            <span class="inline-block p-l_3">Acc</span>
                            <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                            </a>
                        </li>
                        <li class="c_white br_solid br_0 br-b_1  br_white-5">
                            <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="https://cvquality.acc.org/Accreditation?">
                            <span class="inline-block p-l_3">Accreditation Services</span>
                            <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                            </a>
                        </li>
                        <li class="c_white br_solid br_0 br-b_1  br_white-5">
                            <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.ncdr.com">
                            <span class="inline-block p-l_3">NCDR</span>
                            <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                            </a>
                        </li>
                        <li class="c_white br_solid br_0 br-b_1  br_white-5">
                            <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.cardiosmart.org">
                            <span class="inline-block p-l_3">CardioSmart</span>
                            <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                            </a>
                        </li>
                        <li class="c_white">
                            <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.onlinejacc.org/">
                            <span class="inline-block p-l_3">JACC</span>
                            <i class="float_right fas p-r_3 c_white fa-external-link-square "></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
            <!-- /Footer External Links -->
        </div>
    </div>
    <!-- Cite -->
    <div class="texture_light bg_secondary-1 p_4">
        <cite class="c_secondary-1 font_italic font_bold font_n1 p_3 lh_2">© 2015 American College of Cardiology</cite>
    </div>
    <!-- /Cite -->
    </div>

    Styleguide Recipes.Footer
*/

/*
	Cite and Copyright

	Contains copy right 

	Markup:
    <div class="texture_light bg_secondary-1 p_4">
        <cite class="c_secondary-1 font_italic font_bold font_n1 p_3 lh_2">&copy; 2015 American College of Cardiology</cite>
    </div>
	

	Styleguide Recipes.Footer.Cite

*/

/*
	External Nav

	Links to acc-websites

    Markup:
    <div class="texture_dark p_4">
        <section class="acc-websites c_white p-x_3">
            <h4 class="font_slab font_regular">Improving Cardiovascular Care</h4>
            <nav class="block clearfix font_copy w_100">
                <ul class="ul_none lh_2 font_0">
                    <li class="c_white br_solid  br_0 br-b_1  br_white-5">
                        <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.acc.org">
                        <span class="inline-block p-l_3">Acc</span>
                        <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-b_1  br_white-5">
                        <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="https://cvquality.acc.org/Accreditation?">
                        <span class="inline-block p-l_3">Accreditation Services</span>
                        <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-b_1  br_white-5">
                        <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.ncdr.com">
                        <span class="inline-block p-l_3">NCDR</span>
                        <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white br_solid br_0 br-b_1  br_white-5">
                        <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.cardiosmart.org">
                        <span class="inline-block p-l_3">CardioSmart</span>
                        <i class="float_right fas p-r_3 c_white h:c_white fa-external-link-square "></i>
                        </a>
                    </li>
                    <li class="c_white">
                        <a target="_blank" class="h:bg_black-2  h:c_white c_white p-x_2 p_3 block" href="http://www.onlinejacc.org/">
                        <span class="inline-block p-l_3">JACC</span>
                        <i class="float_right fas p-r_3 c_white fa-external-link-square "></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>	
    </div>                   

	Styleguide Recipes.Footer.External Nav

*/

/*
	Address

	Address and contact information for Heart House

    Markup:
    <div class="texture_dark p_4">
        <section class="address c_white">
            <h3 class="font_slab font_1 m-b_0 font_normal font_regular">American College of Cardiology</h3>
            <address>
                <!-- http://microformats.org/wiki/hcard -->
                <h4 class="m-b_0 font_bold font_copy font_normal font_1 m-t_4">Heart House</h4>
                <div class="flex font_copy font_0">
                <div class="flex_shrink p-r_5 m-r_5">
                    <ul class="ul_none  lh_2">
                        <li class="m-b_1 m-b_3:md font_normal">
                            <span class="street-address">2400 N. St. NW</span>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <span class="locality ">Washington</span>,
                            <span class="city-name ">
                        <abbr title="District of Colombia">DC</abbr>
                        </span>
                            <span class="postal-code">20037</span>
                        </li>
                        <li class="m-b_1 m-b_3:md font_normal">
                            <a href="mailto:resource@acc.org" class="email c_white text_underline  h:c_white ">
                                <strong class="p-r_2 inline block:md inline:lg">Email:</strong>
                                <span class="inline block:md inline:lg">resource@acc.org</span></a>
                        </li>
                    </ul>
                </div>
                <div class="flex_auto grid-w_6">
                <ul class="ul_none lh_2">
                    <li class="m-b_1 m-b_3:md font_normal">
                        <a tel="+12023756000" href="tel:+12023756000" class="tel c_white h:c_white h:underline">
                        <strong class="p-r_2 block:md inline:lg">Phone:</strong><span class=" block:md inline:lg">(202) 375-6000, ext. 5603</span></a>
                    </li>
                    <li class="m-b_1 m-b_3:md font_normal">
                        <a tel="+18002574737" href="tel:+18002534636.5603" class="tel c_white h:c_white h:underline">
                        <strong class="p-r_2 block:md inline:lg">Toll Free:</strong><span class=" block:md inline:lg">(800) 253-4636, ext. 5603</span></a>
                    </li>
                    <li class="m-b_1 m-b_3:md font_normal">
                        <a fax="+12023757000" href="fax:+12023757000" class="fax c_white h:c_white h:underline">
                        <strong class="p-r_2 block:md inline:lg">Fax:</strong>
                        <span class="block:md inline:lg">(202) 375-7000</span>
                        </a>
                    </li>
                </ul>
                </div>
                </div>
            </address>
        </section>
 	</div>

	Styleguide Recipes.Footer.Address

*/
.address {
	font-style: unset;
}
